.right-content-main{
    width: calc(100% - 280px);
    margin-left: auto;
    height: 100%;

    @media (max-width: 1280px){
        width: calc(100% - 250px);
    }

    @media (max-width: 767px){
        width: 100%;
    }
}

