<div class="error-page">
    <div class="clac-error-wrap">
        <div class="container position-relative">
            <div class="bg-img-shape">
                <img src="assets/images/babysitter-shape.png" alt="">
            </div>
            <div class="error-text-wrap">
                <h1>404</h1>
                <p>Page Not Found</p>
                <a href="/#/customer/home" class="green-btn mt-3 px-4 font-weight-bold">
                    Back to Home
                </a>
            </div>
        </div>
    </div>
</div>