<div class="content-block">
    <h3 class="page-title">{{"ButtonLabel.ChangePassword" | translate}}</h3>
    <form #passwordchangeform="ngForm" (ngSubmit)="passwordchangeform.form.valid && changePassword()"
        [mustMatch]="['newpassword', 'confirmPassword']" novalidate>
        <div class="card-body">
            <div class="form-group">
                <label class="form-col-form-label" for="inputSuccess1">{{"FormLabel.CurrentPassword" | translate}}</label>
                <input type="password" placeholder="Current Password" class="form-control"
                    [ngClass]="{'is-invalid':passwordchangeform.submitted && (currentpassword.invalid),
                            'is-valid':passwordchangeform.submitted || (currentpassword.valid && currentpassword.touched)}" name="currentpassword" #currentpassword="ngModel" required
                    autocomplete="off" [(ngModel)]="changepassword.currentpassword">
                <div class="invalid-feedback"
                    *ngIf="passwordchangeform.submitted || (currentpassword.invalid && (currentpassword.dirty || currentpassword.touched))">
                    <div *ngIf="currentpassword.errors?.['required']" class="fv-help-block">
                        Current Password is required
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="form-col-form-label" for="inputSuccess1">{{"FormLabel.NewPassword" | translate}}</label>
                <input type="password" placeholder="New Password" class="form-control" [ngClass]="{'is-invalid':passwordchangeform.submitted && (newpassword.invalid),
                            'is-valid':passwordchangeform.submitted || (newpassword.valid && newpassword.touched)}"
                    name="newpassword" #newpassword="ngModel" required autocomplete="off"
                    [(ngModel)]="changepassword.newpassword">
                <div class="invalid-feedback"
                    *ngIf="passwordchangeform.submitted || (newpassword.invalid && (newpassword.dirty || newpassword.touched))">
                    <div *ngIf="newpassword.errors?.['required']" class="fv-help-block">
                        New Password is required
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="form-col-form-label" for="inputSuccess1">{{"FormLabel.ConfirmPassword" | translate}}</label>
                <input type="password" placeholder="Confirm Password" class="form-control"
                    [ngClass]="{'is-invalid':passwordchangeform.submitted && (confirmPassword.invalid),
                            'is-valid':passwordchangeform.submitted || (confirmPassword.valid && confirmPassword.touched)}" name="confirmPassword" #confirmPassword="ngModel" required
                    autocomplete="off" [(ngModel)]="changepassword.confirmPassword">
                <div class="invalid-feedback"
                    *ngIf="passwordchangeform.submitted || (confirmPassword.invalid && (confirmPassword.dirty || confirmPassword.touched))">
                    <div *ngIf="confirmPassword.errors?.['required']" class="fv-help-block">
                        Confirm Password is required
                    </div>
                    <div *ngIf="confirmPassword.errors?.['mustMatch']" class="fv-help-block">
                        Passwords must match
                    </div>
                </div>
            </div>
        </div>
        <div class="col-12">
            <button type="submit" class="submit-btn">{{"ButtonLabel.Save" | translate}}</button>
        </div>
    </form>
</div>