.subsc-plans-main {
  padding: 180px 0 150px;
  margin-bottom: 60px;
}

@media (max-width: 991px) {
  .subsc-plans-main {
    padding: 120px 0 20px;
    margin-bottom: 0;
  }
}

.subsc-plans-main .row {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.subsc-plans-main .plan-one {
  -webkit-box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.15);
          box-shadow: 6px 6px 30px rgba(0, 0, 0, 0.15);
  text-align: center;
  padding: 40px 30px 50px;
  border-radius: 10px;
  position: relative;
  border: 1px solid transparent;
  background: #fff;
}

@media (max-width: 991px) {
  .subsc-plans-main .plan-one {
    margin-bottom: 100px;
  }
}

.subsc-plans-main .plan-one.middle {
  padding-top: 55px;
  min-height: 500px;
}

.subsc-plans-main .plan-one.middle .plan-title {
  margin-top: 30px;
  margin-bottom: 0;
}

.subsc-plans-main .plan-one.middle .hero-title {
  min-height: 145px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

@media (max-width: 991px) {
  .subsc-plans-main .plan-one.middle .hero-title {
    min-height: 125px;
  }
}

.subsc-plans-main .plan-one.middle .hero-title h4 {
  margin-bottom: 0;
}

.subsc-plans-main .plan-one img {
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  border-radius: 50%;
}

.subsc-plans-main .plan-one:hover {
  -webkit-box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
          box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.15);
  border-color: rgba(0, 200, 177, 0.5);
  background: #eafffd;
}

.subsc-plans-main .plan-one:hover > img {
  -webkit-transform: translate(-50%, -50%) scale(1.08);
          transform: translate(-50%, -50%) scale(1.08);
}

.subsc-plans-main .plan-one .plan-title {
  font-size: 14px;
  font-weight: 700;
  display: block;
  margin: 25px 0 20px;
}

.subsc-plans-main .plan-one h4 {
  font: 700 26px "Overpass";
  max-width: 200px;
  margin: auto;
}

@media (max-width: 767px) {
  .subsc-plans-main .plan-one h4 {
    font: 700 22px "Overpass";
    max-width: 170px;
  }
}

.subsc-plans-main .plan-one h4 span {
  color: #3d7deb;
}

.subsc-plans-main .plan-one .plan-pricing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: left;
  margin-top: 65px;
}

.subsc-plans-main .plan-one .plan-pricing .bold {
  font-weight: 900;
  font-size: 40px;
  line-height: 1;
  margin-bottom: 0;
  margin-right: 10px;
}

.subsc-plans-main .plan-one .plan-pricing .currency {
  margin-right: 15px;
}

.subsc-plans-main .plan-one .plan-pricing .currency span {
  line-height: 1;
  display: block;
}

.subsc-plans-main .plan-one .plan-pricing .currency .from {
  font-size: 14px;
  margin-bottom: 6px;
}

.subsc-plans-main .plan-one .plan-pricing .currency .symb {
  font-weight: 900;
  font-size: 17px;
  margin-bottom: 5px;
}

.subsc-plans-main .plan-one .plan-pricing .currency p {
  margin-bottom: 0;
  line-height: 1;
  font-size: 10px;
}

.subsc-plans-main .plan-one .plan-pricing .validity {
  font-weight: 900;
  font-size: 18px;
}

.subsc-plans-main .plan-one .subs-btn {
  margin-top: 40px;
  display: inline-block;
  padding: 10px 40px;
  background: #00c8b1;
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  font-size: 16px;
  border-radius: 50px;
  border: 2px solid #00c8b1;
}

.subsc-plans-main .plan-one .subs-btn:hover {
  background: #fff;
  color: #00c8b1;
}

.subsc-plans-main .plan-one.blue:hover {
  border-color: rgba(61, 125, 235, 0.5);
  background: #f4f8ff;
}

.subsc-plans-main .plan-one.blue .subs-btn {
  background: #3d7deb;
  border-color: #3d7deb;
}

.subsc-plans-main .plan-one.blue .subs-btn:hover {
  background: #fff;
  color: #3d7deb;
}

svg {
  position: absolute;
  bottom: 0;
  z-index: -1;
}

@media (max-width: 991px) {
  svg {
    display: none;
  }
}
/*# sourceMappingURL=subscription-plans.component.css.map */