.business-subscription-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .side-wrapper {
        position: fixed;
        top: 0;
        right: 0;
        width: 30vw;
        height: 100vh;
    
        .side-graphics {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: url('../../../../assets/images/login-graphic1.svg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position-y: bottom;
            height: 100vh;
            width: 100%;

            .side-content {
                max-width: 75%;
                margin-bottom: 56px;
                z-index: 9;

                h2 {
                    color: #fff;
                    font-size: 28px;
                    line-height: 35px;
                    font-family: interstate;
                    font-weight: 300;

                    span {
                        font-weight: bold;
                    }
                }

                .trust-us {
                    p {
                        color: #fff;
                        font-weight: 700;
                        font-size: 1.28571em;
                    }

                    .brand-images {
                        .logo-line {
                            width: 76%;
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            align-items: center;

                            &:last-child {
                                justify-content: center;
                                img {
                                    margin-right: 26px;
                                }
                            }

                            img {
                                width: 26%;
                                margin-bottom: 25px;
                                text-align: center;
                            }
                        }
                    }

                    @media (max-width: 992px) {
                        margin-bottom: -60px;
                    }
                }
            }
        }
        .side-human-graphics {
            position: absolute;
            right: 0;
            bottom: 60px;
            background-image: url('../../../../assets/images/individual-subscription-graphic.svg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: bottom;
            width: 194px;
            height: 325px;

            @media (max-width: 992px) {
                width: 169px;
                height: 286px;
            }
        }
        
        
        @media (max-width: 768px) {
            display: none;
        }
    }

    .mobile-content {
        display: none;

        h2 {
            color: #32325D;
            font-size: 28px;
            line-height: 35px;
            font-family: interstate;
            font-weight: 300;
            text-align: center;

            span {
                font-weight: bold;
            }
        }

        @media (max-width: 768px) {
            display: block;
        }
    }

    .subscription-stepper {
        width: 100%;

        .stepper-main {
            width: 70%;

            .bs-stepper {
                max-width: 620px;
                margin: auto;

                .bs-stepper-header {
                    border-bottom: 1px solid #3D7DEB;
                    padding: 0 15px;

                    .step {
                        .step-trigger {
                            padding: 0;

                            .bs-stepper-label {
                                color: #000;
                                padding: 3px 13px;
                                font-size: 13px;
                                border-top-left-radius: 10px;
                                border-top-right-radius: 10px;
                                margin: 0px;
                                font-weight: 400;

                                @media (max-width: 992px) {
                                    padding: 2px 10.5px;
                                }
                                @media (max-width: 768px) {
                                    width: 100%;
                                    border-radius: 0;
                                    border-bottom: 1px solid #3D7DEB;
                                }
                            }

                            &:hover {
                                background-color: #fff;
                            }

                            @media (max-width: 768px) {
                                width: 100%;
                                text-align: left;
                            }
                        }

                        &.active {
                            .bs-stepper-label {
                                background-color: #3D7DEB;
                                color: #fff !important;
                            }
                        }

                        @media (max-width: 768px) {
                            width: 100%;
                        }
                    }

                    @media (max-width: 768px) {
                        flex-direction: column;
                        border-bottom: 0;
                    }
                }
                .bs-stepper-content {
                    padding: 20px;
                    .content {
                        .stepper-text {
                            font-size: 17px;
                            color: #32325d;
                        }
                        .col-6 {
                            padding: 0 5px;

                            @media (max-width: 768px) {
                                width: 100%;
                                padding: 5px 0;
                            }
                        }
                        button {
                            padding: 0 30px;
                            background-color: #3D7DEB;
                            border: 2px solid #3D7DEB;
                            border-radius: 20px;
                            box-shadow: none;

                            &:hover {
                                background-color: transparent;
                                color: #3D7DEB;
                            }
                        }
                        .select-plan {
                            display: none;

                            &:checked + .plan {
                                border-style: solid;
                                background: #B1EFE2;
                                border-color: #56C5AE;
                                color: #777;
                                cursor: default;

                                .selected-offer {
                                    display: block;
                                }
                            }
                        }
                        .form-control {
                            padding: 15px;
                            padding-right: 35px;
                            box-shadow: none;
                        }
                        .form-label {
                            font-weight: bold;
                            font-size: 15px;
                        }
                        select {
                            // border: 2px solid #ddd !important;
                            // padding: 0 8px !important;
                            width: 100%;
                            display: block !important;
                            -moz-border-radius: 2px;
                            -webkit-border-radius: 2px;
                            border-radius: 2px;
                            outline: none !important;
                            cursor: text !important;
                            font-size: 15px !important;
                            // height: 33px !important;
                            box-sizing: border-box !important;
                            // box-shadow: none !important;
                            margin: 0 !important;
                            position: static;
                            outline: none !important;
                        }

                        .payment-confirmation {
                            padding: 15px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            background: #FFD;
                            border: 1px solid #EEE;
                            color: #666;
                            border-radius: 15px;
                            font-size: 16px;
                            text-align: center;
                        }

                        .form-check {
                            display: flex;
                            align-items: center;
            
                            input[type=checkbox] {
                                box-shadow: none;
                                width: 22px;
                                height: 22px;
                                margin-right: 5px;
                                border: 2px solid #ebebeb;
            
                                &:hover {
                                    border: 2px solid #bbb
                                }
                            }
                            .form-check-input {
                                &:checked {
                                    background-color: #30c8b1;
                                    border-color: #30c8b1;
            
                                    &:hover {
                                        border-color: #30c8b1; 
                                    }
                                }
                            }

                            a {
                                color: #00C8B1;
                                margin-left: 3px;
                            }
                        }

                        .budget-content {
                            color: #32325d;
                            font-size: 17px;
                            line-height: 20px;

                            strong {
                                color: #3D7DEB;
                            }
                        }
                        .your-budget {
                            line-height: 1;
                            font-size: 30px;
                            padding-top: 15px;
                            color: #666;
                            p{
                                margin-bottom: 0;
                            }
                        }

                        .stipe-card-types {
                            padding-top: 5px;

                            img {
                                width: 100%;
                            }
                        }

                        .error-msg {
                            color: #ff0000;
                            font-size: 15px;
                        }
                        .help-tip {
                            color: #cccccc;
                            font-size: 18px;
                            &:hover {
                                color: #56C5AE;
                                cursor: pointer;
                            }
                        }
                    }
                }

                @media (max-width: 768px) {
                    max-width: 100%;
                }
            }

            @media (max-width: 992px) {
                width: 73%;
            }
            @media (max-width: 768px) {
                width: 100%;
            }
        }
    }

    .modal-dialog{
        max-width: 750px;
        .modal-content{
            .modal-header{
                border: 0;
                padding-top: 30px;
                padding-left: 28px;
                padding-right: 28px;
    
                h2 {
                    font-size: 40px;
                    font-weight: 300;
                }
                .btn-close{
                    box-shadow: none !important;
                    border-radius: 50%;
                    border: 2px solid #a3a3a3;
                    font-size: 10px;
                    opacity: 0.3;
                    position: absolute;
                    top: 25px;
                    right: 30px;
            
                    &:hover{
                        opacity: 0.7;
                    }
                }
            }
        }
    }
}
.cus-registration-form .um-field.um-field-text.um-field-type_text.um-field-type_source {
    background: #EEE;
    padding: 5px 10px 10px 10px;
}
.cus-registration-form .um-field-area {
    position: relative;
    word-wrap: break-word;
}
.cus-registration-form .StripeElement {
    background-color: white;
    height: 60px;
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
    margin-top: 15px;
}
.cus-registration-form .um-field {
    position: relative;
    padding: 20px 0 0 0;
}