<div class="forgot-password-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div class="form-container" *ngIf="showForm">
                    <p>To reset your password, please enter your email address or username below</p>
                    <form #forgotform="ngForm" (ngSubmit)="forgotform.form.valid && submit()">
                        <div class="mb-5">
                            <input type="text" class="form-control" id="email" placeholder="Enter your email"
                                name="email" #email="ngModel" autocomplete="off" [(ngModel)]="forgotPasswordObj.email"
                                required pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$">
                            <div *ngIf="forgotform.submitted || (email.invalid && (email.dirty || email.touched))">
                                <div class="error-msg" *ngIf="email.errors?.['required']">
                                    <span><i class="fas fa-caret-up"></i></span>
                                    Please provide your email
                                </div>
                                <div *ngIf="email.errors?.['pattern']" class="error-msg">
                                    Please enter valid email address
                                </div>
                            </div>

                        </div>

                        <div class="btn-container">
                            <button type="submit" class="btn btn-primary">Reset my password</button>
                        </div>
                    </form>
                </div>
                <!-- Below message will be shown after reset password submit. -->
                <div class="message-container" *ngIf="!showForm">
                    <p>We have sent you a password reset link to your e-mail. Please check your inbox.</p>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </div>
</div>

<div class="subscribe-section">
    <div class="container">
        <div class="subscribe-inner">
            <div class="row align-items-center">
                <div class="col-sm-12 col-md-5">
                    <h2>{{'PersonalAssistant'| translate}}</h2>
                    <p>{{'LoyaltyText' | translate}}</p>
                </div>
                <div class="col-sm-12 col-md-7">
                    <div class="subscribe-graphics">
                        <img src="assets/images/discover-scene.svg" alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="subscribe-btn-main">
            <a class="subscribe-btn" [routerLink]="['/customer/subscription-plans']">{{'Register' | translate}}</a>
        </div>
    </div>
</div>