.forgot-password-wrapper {
  padding: 50px 0;
}
.forgot-password-wrapper .form-container {
  font-size: 17px;
  text-align: center;
  max-width: 80%;
  margin: auto;
  color: #777;
}
.forgot-password-wrapper .form-container input[type=email] {
  box-shadow: none;
  width: 100%;
  border: 1px solid #ebebeb;
  font-family: "Lato", sans-serif;
  color: #666666;
  font-size: 15px;
}
.forgot-password-wrapper .form-container input[type=email]:focus {
  border: 1px solid #bbb;
}
.forgot-password-wrapper .form-container .btn-container button {
  background-color: #30c8b1;
  border-color: #30c8b1;
  color: #fff;
  padding: 11px;
  border-radius: 5px;
  max-width: 250px;
  width: 100%;
  text-align: center;
  font-size: 15px;
  box-shadow: none;
}
.forgot-password-wrapper .form-container .error-msg {
  background-color: #C74A4A;
  border-radius: 3px;
  color: #fff;
  box-sizing: border-box;
  position: relative;
  padding: 12px;
  font-size: 14px;
  line-height: 20px !important;
  margin: 12px 0 0 0;
}
.forgot-password-wrapper .form-container .error-msg span {
  position: absolute;
  top: -14px;
  left: 15px;
  color: #C74A4A;
  font-size: 22px;
}
.forgot-password-wrapper .message-container {
  font-size: 17px;
  text-align: center;
  max-width: 80%;
  margin: auto;
  color: #777;
}

.subscribe-section {
  padding: 50px 0;
}
.subscribe-section .subscribe-inner {
  background-color: #dafaf9;
  border-radius: 10px;
  padding: 70px 0 70px 70px;
  position: relative;
}
.subscribe-section .subscribe-inner .row h2 {
  font-size: 40px;
  font-weight: 300;
  color: #32325d;
  font-family: Interstate, sans-serif;
}
.subscribe-section .subscribe-inner .row p {
  font-family: Lato, sans-serif;
  line-height: 30px;
  font-size: 18px;
}
.subscribe-section .subscribe-inner .row .subscribe-graphics {
  position: relative;
}
.subscribe-section .subscribe-inner .row .subscribe-graphics img {
  position: absolute;
  width: 110%;
  height: auto;
  left: -10px;
  transform: translateY(-50%);
}
@media (max-width: 768px) {
  .subscribe-section .subscribe-inner .row .col-md-5 {
    text-align: center;
    width: 100%;
  }
}
@media (max-width: 768px) {
  .subscribe-section .subscribe-inner .row .col-md-7 {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .subscribe-section .subscribe-inner .row {
    flex-direction: column-reverse;
  }
  .subscribe-section .subscribe-inner .row .subscribe-graphics img {
    position: relative;
    width: 100%;
    left: 0;
    transform: translateY(-20%);
  }
}
@media (max-width: 768px) {
  .subscribe-section .subscribe-inner {
    padding: 30px 15px 80px;
  }
}
.subscribe-section .subscribe-btn-main {
  text-align: center;
  transform: translateY(-50%);
}
.subscribe-section .subscribe-btn-main .subscribe-btn {
  position: relative;
  display: inline-block;
  width: 171px;
  padding: 15px 0;
  background-color: #00c8b1;
  border: 2px solid #00c8b1;
  border-radius: 50px;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  text-transform: uppercase;
}
.subscribe-section .subscribe-btn-main .subscribe-btn::before {
  content: "";
  border: 1px solid #00c8b1;
  border-radius: inherit;
  transform: scale(0.6);
  transition: 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.subscribe-section .subscribe-btn-main .subscribe-btn:hover {
  background-color: transparent;
  color: #00c8b1;
  border: 2px solid #00c8b1;
}
.subscribe-section .subscribe-btn-main .subscribe-btn:hover::before {
  transform: scale(1);
}/*# sourceMappingURL=forgot-password.component.css.map */