header.site-header {
  display: flex;
  align-items: center;
  padding: 18px 0;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  background: #fff;
  box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.08);
  z-index: 999;
}
@media (max-width: 1024px) {
  header.site-header .container {
    max-width: 100%;
  }
}
header.site-header.sticked {
  padding: 8px 0;
}
header.site-header .header-wrapper {
  display: flex;
  align-items: center;
  position: relative;
}
header.site-header .header-wrapper .notification {
  margin-left: 15px;
  position: absolute;
  right: -50px;
  opacity: 0.75;
}
header.site-header .header-wrapper .notification:hover {
  opacity: 1;
}
header.site-header .header-wrapper .notification.has-notification::after {
  content: "";
  position: absolute;
  right: 6px;
  top: 4px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background: #E50000;
}
header.site-header .header-wrapper .lang-login-drop {
  display: inline-block;
  margin: 0 0 0 15px;
}
@media (max-width: 1024px) {
  header.site-header .header-wrapper .lang-login-drop {
    margin: 0 0 0 10px;
  }
}
header.site-header .header-wrapper .lang-login-drop .lang-item {
  display: flex;
  align-items: center;
  font-size: 16px;
}
header.site-header .header-wrapper .lang-login-drop .lang-item .lang-change-img {
  width: 22px;
  height: 14px;
  margin: 3px 6px 0 0;
}
@media (max-width: 767px) {
  header.site-header .header-wrapper .lang-login-drop .lang-item {
    font-size: 14px;
  }
  header.site-header .header-wrapper .lang-login-drop .lang-item .lang-change-img {
    width: 20px;
    height: 10px;
  }
}
header.site-header .header-wrapper .account-drop {
  display: inline-block;
  margin: 0 0 0 15px;
}
header.site-header .header-wrapper .account-drop select {
  border: 1px solid #ced4da;
  padding: 9px 2px;
  color: #495057;
  font-weight: 400;
  font-size: 16px;
  outline: none;
}
header.site-header .header-wrapper .account-drop select:focus, header.site-header .header-wrapper .account-drop select:focus-visible {
  border-color: #2196F3;
  outline: none;
}
@media (max-width: 767px) {
  header.site-header .header-wrapper .account-drop select {
    padding: 6.5px 2px;
    font-size: 14px;
  }
}
@media (max-width: 1366px) {
  header.site-header .header-wrapper .account-drop {
    margin: 0 0 0 5px;
  }
}
header.site-header .header-wrapper .mobile-toggler {
  display: none;
  background: transparent;
  border: none;
}
header.site-header .header-wrapper .mobile-toggler span {
  width: 20px;
  height: 2px;
  border-radius: 10px;
  background: #32325D;
  margin: 4px 0;
  display: block;
}
header.site-header .header-wrapper .mobile-toggler.close span:first-child {
  transform: rotate(45deg);
}
header.site-header .header-wrapper .mobile-toggler.close span:last-child {
  transform: rotate(-45deg);
  margin-top: -12px;
}
header.site-header .header-wrapper .mobile-toggler.close span:nth-child(2) {
  transform: translateX(-40px);
  opacity: 0;
}
header.site-header .menu-wrapper {
  margin-left: auto;
}
header.site-header .menu-wrapper .green-btn {
  margin-left: 35px;
}
@media (max-width: 1366px) {
  header.site-header .menu-wrapper .green-btn {
    margin-left: 15px;
  }
}
header.site-header .menu-wrapper .blue-btn {
  background: #32325D;
  color: #fff;
  padding: 6px 15px;
  width: 165px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  margin-left: 12px;
}
header.site-header .menu-wrapper .blue-btn:hover {
  background: rgb(0, 0, 48);
}
header.site-header .menu-wrapper .nav-item a {
  color: #32325D;
  padding: 0;
  margin: 0 14px;
}
header.site-header .menu-wrapper .nav-item a:hover, header.site-header .menu-wrapper .nav-item a.active {
  color: #00C8B1 !important;
}
@media (max-width: 1024px) {
  header.site-header .menu-wrapper .nav-item a {
    margin: 0 8px;
  }
}

@media (max-width: 1280px) {
  header.site-header .menu-wrapper .green-btn {
    margin-left: 15px;
    width: 100px;
  }
  header.site-header .menu-wrapper .blue-btn {
    min-width: 100px;
    width: auto;
  }
  header.site-header .header-wrapper .notification {
    position: unset;
    margin-left: 10px;
  }
  header.site-header .header-wrapper .notification img {
    max-width: 32px;
  }
  header.site-header .header-wrapper .notification.has-notification::after {
    top: 12px;
    width: 8px;
    height: 8px;
  }
}
@media (max-width: 991px) {
  header.site-header .header-wrapper .mobile-toggler {
    display: block;
    margin-left: auto;
    z-index: 2;
  }
  header.site-header .header-wrapper .notification {
    margin-left: 5px;
  }
  header.site-header .header-wrapper .notification img {
    max-width: 24px;
  }
  header.site-header .header-wrapper .notification.has-notification::after {
    top: 6px;
    width: 6px;
    height: 6px;
  }
  header.site-header .menu-wrapper {
    position: fixed;
    left: -252px;
    top: 0;
    width: 250px;
    height: 100vh;
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.25s all ease;
    z-index: 1;
  }
  header.site-header .menu-wrapper li a {
    margin: 5px 0 !important;
    text-align: center;
    display: block;
  }
  header.site-header .menu-wrapper a.green-btn {
    margin-bottom: 12px !important;
    margin-top: 10px !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }
  header.site-header .menu-wrapper a.blue-btn {
    margin-left: auto !important;
    margin-right: auto !important;
  }
  header.site-header .menu-wrapper.opened {
    box-shadow: 0px 0px 12px rgba(0, 0, 0, 0.15);
    left: 0;
  }
}
.logo-wrapper img {
  max-width: 95px;
}

@media (max-width: 767px) {
  header.site-header.sticked {
    padding: 12px 0;
  }
  header.site-header .menu-wrapper {
    width: 230px;
    left: -232px;
  }
  header.site-header .menu-wrapper .navbar-nav .nav-item:nth-child(5) {
    border-bottom: 1px solid #dedede;
    padding-bottom: 10px;
    margin-bottom: 10px;
  }
  header.site-header .menu-wrapper > nav {
    width: calc(100% - 30px);
  }
  header.site-header .menu-wrapper a {
    font-size: 14px;
  }
  header.site-header .header-wrapper .mobile-toggler span {
    margin: 3px 0;
    width: 18px;
  }
  header.site-header .header-wrapper .mobile-toggler.close span:last-child {
    margin-top: -10px;
  }
  .logo-wrapper img {
    max-width: 80px;
  }
}
header .site-new-header {
  display: flex;
  align-items: center;
  padding: 18px 0;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
  background: transparent;
  box-shadow: none;
  z-index: 999;
  transition: none;
}
header .site-new-header .header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .site-new-header .header-wrapper .nav-menu-wrapper nav {
  display: flex;
  align-items: center;
}
header .site-new-header .header-wrapper .nav-menu-wrapper nav .subscribe-btn {
  position: relative;
  display: inline-block;
  width: 171px;
  padding: 15px 0;
  margin-right: 26px;
  background-color: #00c8b1;
  border: 2px solid #00c8b1;
  border-radius: 50px;
  color: #fff;
  text-align: center;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.5s ease;
}
header .site-new-header .header-wrapper .nav-menu-wrapper nav .subscribe-btn::before {
  content: "";
  border: 1px solid #00c8b1;
  border-radius: inherit;
  transform: scale(0.6);
  transition: 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
header .site-new-header .header-wrapper .nav-menu-wrapper nav .subscribe-btn:hover {
  background-color: #fff;
  color: #00c8b1;
  border: 2px solid #00c8b1;
}
header .site-new-header .header-wrapper .nav-menu-wrapper nav .subscribe-btn:hover::before {
  transform: scale(1);
}
@media (max-width: 768px) {
  header .site-new-header .header-wrapper .nav-menu-wrapper nav .subscribe-btn {
    display: none;
  }
}
header .site-new-header .header-wrapper .nav-menu-wrapper nav .login-btn {
  transition: color 0.5s ease-in;
  text-transform: uppercase;
  margin-right: 0px;
  overflow: hidden;
  position: relative;
  display: inline-block;
  color: #32325d;
  font-weight: bold;
  width: 120px;
}
header .site-new-header .header-wrapper .nav-menu-wrapper nav .login-btn:hover span {
  transform: translateY(-100%);
}
header .site-new-header .header-wrapper .nav-menu-wrapper nav .login-btn span {
  position: relative;
  display: inline-block;
  transition: transform 0.3s;
}
header .site-new-header .header-wrapper .nav-menu-wrapper nav .login-btn span::before {
  position: absolute;
  top: 100%;
  content: attr(data-hover);
  font-weight: bold;
  transform: translate3d(0, 0, 0);
  width: 120%;
}
header .site-new-header .header-wrapper .nav-menu-wrapper nav .lang-login {
  padding: 7px;
}
header .site-new-header .header-wrapper .nav-menu-wrapper nav .lang-login a {
  padding: 5px 10px;
}
header .site-new-header .header-wrapper .nav-menu-wrapper nav .nav-menu {
  width: 23px;
  cursor: pointer;
}
header .site-new-header .header-wrapper .nav-menu-wrapper nav .nav-menu .hamburger {
  padding: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  outline: 0;
  overflow: visible;
}
header .site-new-header .header-wrapper .nav-menu-wrapper nav .nav-menu .hamburger .hamburger-box {
  width: 23px;
  height: 23px;
  display: inline-block;
  position: relative;
}
header .site-new-header .header-wrapper .nav-menu-wrapper nav .nav-menu .hamburger .hamburger-box .hamburger-inner {
  display: block;
  top: 50%;
  width: 23px;
  height: 2px;
  background-color: #32325d;
  border-radius: 0;
  position: absolute;
  transition-property: all;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}
header .site-new-header .header-wrapper .nav-menu-wrapper nav .nav-menu .hamburger .hamburger-box .hamburger-inner::before {
  content: "";
  top: -6px;
  left: 0;
  width: 23px;
  height: 2px;
  background-color: #32325d;
  border-radius: 0;
  position: absolute;
  transition-property: all;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}
header .site-new-header .header-wrapper .nav-menu-wrapper nav .nav-menu .hamburger .hamburger-box .hamburger-inner::after {
  content: "";
  bottom: -6px;
  left: 0;
  width: 23px;
  height: 2px;
  background-color: #32325d;
  border-radius: 0;
  position: absolute;
  transition-property: all;
  transition-duration: 0.6s;
  transition-timing-function: cubic-bezier(0.86, 0, 0.07, 1);
}
header .site-new-header .header-wrapper .nav-menu-wrapper nav .nav-menu .hamburger .hamburger-box .show-close-btn {
  transform: rotate(135deg);
  background-color: #32325d;
}
header .site-new-header .header-wrapper .nav-menu-wrapper nav .nav-menu .hamburger .hamburger-box .show-close-btn::before {
  top: 0px;
  transform: rotate(90deg);
  background-color: #32325d;
}
header .site-new-header .header-wrapper .nav-menu-wrapper nav .nav-menu .hamburger .hamburger-box .show-close-btn::after {
  bottom: 0px;
  transform: rotate(0deg);
  opacity: 0;
  background-color: #32325d;
}
header .site-new-header .header-wrapper .nav-menu-wrapper nav .nav-menu .hamburger:hover .hamburger-box .hamburger-inner::before,
header .site-new-header .header-wrapper .nav-menu-wrapper nav .nav-menu .hamburger:hover .hamburger-box .hamburger-inner::after {
  transform: scale(0.7);
}
header .site-new-header .header-wrapper .nav-menu-wrapper nav .nav-menu .hamburger:hover .hamburger-box .show-close-btn::before,
header .site-new-header .header-wrapper .nav-menu-wrapper nav .nav-menu .hamburger:hover .hamburger-box .show-close-btn::after {
  transform: rotateZ(90deg) !important;
}
header #main-menu {
  visibility: hidden;
  opacity: 0;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.88);
  z-index: 99;
  transition: all 1.5s ease-in-out;
}
header #main-menu > img {
  position: absolute;
  height: 100vh;
  width: auto;
  right: -100%;
  transition: 1.5s ease-in-out;
}
header #main-menu .menu-container {
  position: absolute;
  right: 0;
  height: 100%;
}
header #main-menu .menu-container ul {
  position: absolute;
  right: 70px;
  top: 50%;
  transform: translateY(-50%);
}
header #main-menu .menu-container ul li {
  margin: 12px 0;
  color: #fff;
  font-size: 55px;
  letter-spacing: -1px;
  line-height: 60px;
  text-align: right;
  transition: transform 0.5s ease-out;
}
header #main-menu .menu-container ul li a {
  text-decoration: none;
  color: inherit;
}
header #main-menu .menu-container ul li:hover {
  transform: translateX(-10px);
}
@media (max-width: 480px) {
  header #main-menu .menu-container ul {
    right: 20px;
  }
}
header #main-menu .bottom-menu {
  position: absolute;
  right: 70px;
  bottom: 60px;
  display: flex;
  flex-direction: column;
}
header #main-menu .bottom-menu div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px 0;
}
header #main-menu .bottom-menu div .text {
  color: #fff;
  padding-right: 15px;
  font-size: 14px;
  font-weight: 700;
}
header #main-menu .bottom-menu div .app {
  display: inline-block;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: #fff;
  color: #32325d;
  position: relative;
  transition: color 0.4s cubic-bezier(0.23, 1, 0.32, 1);
}
header #main-menu .bottom-menu div .app a i {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
@media (max-width: 480px) {
  header #main-menu .bottom-menu {
    right: 20px;
  }
}

.open-menu {
  visibility: visible !important;
  opacity: 1 !important;
}
.open-menu > img {
  transform: scaleY(1) !important;
  right: 0 !important;
}

.page-scrolled {
  background-color: #fff !important;
  box-shadow: 0 0 40px #ddd !important;
}

.white-login-btn {
  color: #fff !important;
}

.white-hamburger-btn {
  background-color: #fff !important;
}
.white-hamburger-btn::before, .white-hamburger-btn::after {
  background-color: #fff !important;
}/*# sourceMappingURL=header.component.css.map */