<div class="offers-banner my-account-wrapper">
    <div class="container">
        <div class="offer-insider">
            <h2 class="section-title">{{"Label.My" | translate}} {{"Label.Corporate" | translate}} <span> {{"Label.Offers" | translate}} </span></h2>
            <div class="popular-offers-wrap">
                
                <!-- <div class="pop-search">
                    <input type="text" class="search-input" placeholder="Search...">
                    <div class="category-dropdown">
                        <select name="" id="search-category">
                            <option value="" disabled selected>Categories</option>
                            <option *ngFor="let category of CorporateOfferCategory" value="{{category._id}}">{{category.name}}</option>
                        </select>
                    </div>
                    <button class="search-button">
                        <img src="assets/images/searchicon.svg" alt="">
                    </button>
                </div> -->

                <form #catSearch="ngForm" (ngSubmit)="catSearch.form.valid && submit(catSearch.value)">
                    <div class="popular-offers-wrap">
                        <div class="popular-tags">
                            <span class="pop-title">{{"Label.Popular" | translate}} :</span>                                        
                            <a *ngFor="let categoryPop of offerPopular" href="javascript:void(0);" class="tags">{{categoryPop?.name}}</a>                    
                        </div>
                        <div class="pop-search">
                            <input type="text" class="search-input" placeholder="Search..." name="search" ngModel #search="ngModel">
                            <div class="category-dropdown">
                                <select name="category" id="search-category" ngModel #caregory="ngModel">
                                    <option value="" disabled selected>{{"Label.Categories" | translate}}</option>
                                    <option *ngFor="let category of CorporateOfferCategory" value="{{category._id}}">{{category.name}}</option>                        
                                </select>
                            </div>
                            <button class="search-button" type="submit">
                                <img src="assets/images/searchicon.svg" alt="">
                            </button>
                        </div>
                    </div>
                </form>

            </div>
            <img class="banner-right-img" src="assets/images/services-banner-right-img.png" alt="">
        </div>
    </div>
</div>