<div class="content-block">
    <h3 class="page-title">Do you already want to leave us ? :(</h3>
    <form action="">
        <div class="row">
            <div class="col-12">
                <div class="">
                    <label for="first-name" class="form-label mb-3">If you wish to unsubscribe from your concierge service, you must click on the button below.</label>
                    <button type="button" class="submit-btn cancel-subsc" (click)="cancelSubscription()">I BREAK UP WITH MY CONCIERGE</button>
                </div>
            </div>
        </div>
    </form>
</div>