<footer class="site-footer" *ngIf="!showLoginFooter">
    <div class="container">
        <div class="footer-wrapper">
            <div class="col-one">
                <div class="footer-logo">
                    <img src="assets/images/clac-logo.png" alt="">
                </div>
            </div>
            <div class="col-one">
                <div class="col-title">Contact</div>
                <p>10 Rue Threilhard <br> 75008 Paris</p>
                <a href="mailto:contact@clacdesdoigts.com">contact@clacdesdoigts.com</a>
                <a href="tel:+33644609990">Tel. (+33) 6 44 60 99 90</a>
            </div>
            <div class="col-one">
                <div class="col-title">Legal</div>
                <a href="#">Terms and Conditions</a>
                <a href="#">Contact us</a>
                <a href="#">Legal notice</a>
                <a href="#">Privacy policy</a>
            </div>
            <div class="col-one">
                <div class="col-title">Recruitment</div>
                <a href="#">Join our dynamic team</a>
            </div>
            <div class="col-one apps">
                <div class="col-title">Apps</div>
                <a href="#"><img src="assets/images/playicon.png" alt=""></a>
                <a href="#"><img src="assets/images/apple.png" alt=""></a>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="copyrights">
                © clac des doigts {{year}}
            </div>
            <div class="social-media">
                <a href="#"><img src="assets/images/instagram.png" width="20" alt=""></a>
                <a href="#"><img src="assets/images/facebook-app-symbol.png" width="20" alt=""></a>
                <a href="#"><img src="assets/images/twitter.png" alt="" width="26"></a>
                <a href="#"><img src="assets/images/linkedin.png" alt="" width="24"></a>
            </div>
        </div>
    </div>
</footer>