<div class="content-block">
    <div class="employees-header">
        <h3 class="page-title">{{"ButtonLabel.Employees" | translate}}</h3>
        <button type="button" class="submit-btn" style="" data-bs-toggle="modal"
        data-bs-target="#EmployeesModal">{{"ButtonLabel.AddEmployees" | translate}}</button>
    </div>
    <div class="table-wrapper">
        <!------------------------------------------------------------------------------------------------->
        <br>
        <p-table [columns]="cols" [value]="employeeDetails" class="order-history-table"
            [rowsPerPageOptions]="[10,25,50]" [reorderableColumns]="true" [showLoader]="true" #dt1 [paginator]="true"
            [rows]="10" [showCurrentPageReport]="true" [columnResizeMode]="'fit'" [lazy]="true"
            (onLazyLoad)="onLazyLoad($event)" [reorderableColumns]="true" [resizableColumns]="true" [autoLayout]="true"
            [totalRecords]="totalDocs">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <ng-container *ngFor="let col of columns">
                        <ng-container *ngIf="col.display">
                            <ng-container *ngIf="col.isSortable">
                                <th pSortableColumn="{{col.field}}">{{col.header}}
                                    <p-sortIcon [field]="col.field"></p-sortIcon>
                                </th>
                            </ng-container>
                            <ng-container *ngIf="!col.isSortable">
                                <th>{{col.header}}</th>
                            </ng-container>
                        </ng-container>
                    </ng-container>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-record let-columns="columns">
                <tr>
                    <ng-container *ngFor="let col of columns">
                        <td *ngIf="col.display">
                            <span *ngIf="col.type == 'string'" class="text-wrap">{{record[col.field]}}</span>
                            <span *ngIf="col.type == 'bool'" class="text-wrap">{{record[col.field]}}</span>

                            <span *ngIf="col.type == 'option'" class="text-wrap">{{record[col.field] ? col.true :
                                col.false}}</span>

                            <span *ngIf="col.type == 'date'" class="text-wrap">{{record[col.field] |
                                date:'yyyy-MM-dd'}}</span>

                            <span *ngIf="col.type == 'image'"><img _ngcontent-fsl-c86="" width="32"
                                    style="vertical-align: middle;" src="{{record[col.field]}}"></span>
                            <span *ngIf="col.type == 'image-array'"><img _ngcontent-fsl-c86="" width="32"
                                    style="vertical-align: middle;"
                                    src="{{record['image_url']}}{{record.image[0][col.field]}}"></span>
                            <span *ngIf="col.type == 'price'">{{record[col.field] | currency: 'USD' : true}}</span>
                            <span *ngIf="col.type == 'discount'">{{record[col.field]}}%</span>
                            <span *ngIf="col.type == 'download'">
                                <a href="{{record[col.field]}}" target="_blank" download title="Download">
                                    <i class="fa fa-download fa-lg"></i>
                                </a>
                            </span>
                            <span *ngIf="col.type == 'delete'">
                                <a href="javascript:void(0)" title="Delete" (click)="deleteEmployee(record[col.field])">
                                    <i style="color: red;" class="fa fa-trash"></i>
                                </a> &nbsp;
                            </span>
                            <!-- <span *ngIf="col.type == 'dropdown'">
                                <select id="status" (change)="updateStatus(status.value,record[columns[0].field])"
                                    [(ngModel)]="record[col.field]" class="" #status="ngModel" name="status"
                                    style="width: auto;">
                                    <option value="Active">Active</option>
                                    <option value="Inactive">Inactive</option>
                                </select>
                            </span> -->
                        </td>
                    </ng-container>
                </tr>
            </ng-template>
        </p-table>
        <!------------------------------------------------------------------------------------------------>
    </div>
</div>


<!----- NEWS UPDATE MODAL ------>
<!--Compliment button Modal -->
<div class="modal fade" id="EmployeesModal" tabindex="-1" aria-labelledby="complimentModalLabel" aria-hidden="false">
    <div class="modal-dialog modal-dialog-centered modal-lg">
        <form #employeeForm="ngForm" (ngSubmit)="employeeForm.form.valid && submit(employeeForm.value)">
            <div class="modal-content">
                <div class="modal-header">
                    <div class="d-flex align-items-center">
                        <h2 class="modal-title">{{"ButtonLabel.Employees" | translate}}</h2>
                    </div>
                    <button type="button" class="btn-close" #EmployeesModalClose data-bs-dismiss="modal"
                        aria-label="Close" (click)="employeeForm.resetForm()"></button>
                </div>
                <div class="modal-body">
                    <div class="content-block">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="first-name" class="form-label">{{"FormLabel.FirstName" |
                                        translate}}</label>
                                    <input type="text" id="first-name" class="form-control"
                                    [placeholder]= "'Placeholder.FirstName' | translate" name="first_name" #first_name="ngModel"
                                        [(ngModel)]="employeeModel.first_name" required>
                                    <div *ngIf="employeeForm.submitted || (first_name.invalid && (first_name.dirty && first_name.touched))"
                                        class="fv-plugins-message-container">
                                        <div *ngIf="first_name.errors?.['required']" class="fv-help-block">
                                            {{"ErrorMessage.FirstName" | translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="last-name" class="form-label">{{"FormLabel.LastName" |
                                        translate}}</label>
                                    <input type="text" id="last-name" class="form-control" [placeholder]= "'Placeholder.LastName' | translate"
                                        name="last_name" #last_name="ngModel" [(ngModel)]="employeeModel.last_name"
                                        required>
                                    <div *ngIf="employeeForm.submitted || (last_name.invalid && (last_name.dirty && last_name.touched))"
                                        class="fv-plugins-message-container">
                                        <div *ngIf="last_name.errors?.['required']" class="fv-help-block">
                                            {{"ErrorMessage.LastName" | translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="email" class="form-label">{{"FormLabel.Email-Id" | translate}}</label>
                                    <input type="email" id="email" class="form-control" [placeholder]= "'Placeholder.Email-Id' | translate" 
                                        name="email" #email="ngModel" [(ngModel)]="employeeModel.email" required
                                        pattern="^[a-zA-Z0-9_.+-]+@[a-zA-Z0-9-]+.[a-zA-Z0-9-.]+$">
                                    <div *ngIf="employeeForm.submitted || (email.invalid && (email.dirty && email.touched))"
                                        class="fv-plugins-message-container">
                                        <div *ngIf="email.errors?.['required']" class="fv-help-block">
                                            {{"ErrorMessage.Email-Id" | translate}}
                                        </div>
                                        <div *ngIf="email.errors?.['pattern']" class="fv-help-block">
                                            {{"ErrorMessage.Email-IdValid" | translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="mb-3">
                                    <label for="last-name" class="form-label">{{"FormLabel.UserName" |
                                        translate}}</label>
                                    <input type="text" id="last-name" class="form-control" [placeholder]= "'Placeholder.UserName' | translate" 
                                        name="user_name" #user_name="ngModel" [(ngModel)]="employeeModel.user_name" >
                                    <!-- <div *ngIf="employeeForm.submitted || (user_name.invalid && (user_name.dirty && user_name.touched))"
                                        class="fv-plugins-message-container">
                                        <div *ngIf="user_name.errors?.['required']" class="fv-help-block">
                                            {{"ErrorMessage.UserName" | translate}}
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                            <div class="col-md-3">
                                <div class="mb-3">
                                    <label for="phone" class="form-label">{{"FormLabel.CountyCode" | translate}}</label>
                                    <!-- <input type="tel" id="country_code" class="form-control" [placeholder]= "'Placeholder.CountyCode' | translate" 
                                        name="country_code" #country_code="ngModel"
                                        [(ngModel)]="employeeModel.country_code" required> -->
                                        <select class="form-control" name="country_code" id="country_code"  #country_code="ngModel" [(ngModel)]="employeeModel.country_code" required>
                                            <option value="" disabled selected>{{'Placeholder.CountyCode' | translate}}</option>
                                            <option *ngFor="let country of countries" [value]="country.dial_code">{{country.code}}</option>
                                        </select>
                                    <div *ngIf="employeeForm.submitted || (country_code.invalid && (country_code.dirty && country_code.touched))"
                                        class="fv-plugins-message-container">
                                        <div *ngIf="country_code.errors?.['required']" class="fv-help-block">
                                            {{"ErrorMessage.CountyCode" | translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="mb-3">
                                    <label for="mobile_no" class="form-label">{{"FormLabel.Mobile_No" |
                                        translate}}</label>
                                    <input type="tel" id="mobile_no" class="form-control" [placeholder]= "'Placeholder.Mobile_No' | translate" 
                                        name="mobile_no" #mobile_no="ngModel" [(ngModel)]="employeeModel.mobile_no"
                                        required pattern="[0-9]{10,15}">
                                    <div *ngIf="employeeForm.submitted || (mobile_no.invalid && (mobile_no.dirty && mobile_no.touched))"
                                        class="fv-plugins-message-container">
                                        <div *ngIf="mobile_no.errors?.['required']" class="fv-help-block">
                                            {{"ErrorMessage.Mobile_No" | translate}}
                                        </div>
                                        <div *ngIf="mobile_no.errors?.['pattern']" class="fv-help-block">
                                            {{"ErrorMessage.Mobile_NoValid" | translate}}
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="mb-3">
                                    <label for="birthdate" class="form-label">{{"FormLabel.BirthDate" |
                                        translate}}</label>
                                    <input type="date" id="birthdate" class="form-control"
                                    [placeholder]= "'Placeholder.BirthDate' | translate"  name="birthdate" #birthdate="ngModel"
                                        max="{{bodMinDate}}" [(ngModel)]="employeeModel.birthdate">
                                    <!-- <div *ngIf="employeeForm.submitted || (birthdate.invalid && (birthdate.dirty && birthdate.touched))"
                                        class="fv-plugins-message-container">
                                        <div *ngIf="birthdate.errors?.['required']" class="fv-help-block">
                                            {{"ErrorMessage.BirthDate" | translate}}
                                        </div>
                                    </div> -->
                                </div>
                            </div>
                            <div class="col-12">
                                <button type="submit" class="submit-btn">{{"ButtonLabel.Save" | translate}}</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>