/* You can add global styles to this file, and also import other style files */

@import url(https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Lato:100,100italic,300,300italic,regular,italic,700,700italic,900,900italic);
@import url(https://fonts.googleapis.com/css?family=Overpass:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
@import '../node_modules/swiper/swiper-bundle.min.css';
@font-face {
    font-family: 'Interstate';
    src: url('assets/fonts/Interstate-Light.eot');
    src: url('assets/fonts/Interstate-Light.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Interstate-Light.woff2') format('woff2'),
        url('assets/fonts/Interstate-Light.woff') format('woff'),
        url('assets/fonts/Interstate-Light.ttf') format('truetype'),
        url('assets/fonts/Interstate-Light.svg#Interstate-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Interstate';
    src: url('assets/fonts/Interstate-Bold.eot');
    src: url('assets/fonts/Interstate-Bold.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Interstate-Bold.woff2') format('woff2'),
        url('assets/fonts/Interstate-Bold.woff') format('woff'),
        url('assets/fonts/Interstate-Bold.ttf') format('truetype'),
        url('assets/fonts/Interstate-Bold.svg#Interstate-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Interstate';
    src: url('assets/fonts/Interstate-Regular.eot');
    src: url('assets/fonts/Interstate-Regular.eot?#iefix') format('embedded-opentype'),
        url('assets/fonts/Interstate-Regular.woff2') format('woff2'),
        url('assets/fonts/Interstate-Regular.woff') format('woff'),
        url('assets/fonts/Interstate-Regular.ttf') format('truetype'),
        url('assets/fonts/Interstate-Regular.svg#Interstate-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}
@mixin placeholder {
    &::-webkit-input-placeholder {@content}
    &:-moz-placeholder           {@content}
    &::-moz-placeholder          {@content}
    &:-ms-input-placeholder      {@content}  
  }


* {
    margin: 0;
    padding: 0;
    -webkit-transition: 0.15s all ease-in-out;
    transition: 0.15s all ease-in-out;
}

body {
    font-size: 18px;
    line-height: 1.6;
    color: #32325D;
    font-family: 'Lato', sans-serif;
    padding-top: 93px;
    transition: 0s;

    &.modal-open {
        header.site-header {
            width: calc(100% - 17px);
            transition: 0s;
        }
    }
}

a {
    text-decoration: none;
    color: #32325D;

    &:hover {
        color: #00C8B1;
    }
}

ul {
    list-style: none;
    padding-left: 0;
    margin-left: 0;
}

.green-btn {
    background: #00C8B1;
    color: #fff;
    padding: 6px 15px;
    min-width: 165px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px !important;
    font-weight: 500;
    border: none;

    &:hover {
        background: #029987;
        color: #fff;
    }
}

.blue-btn {
    background: #32325D;
    color: #fff;
    padding: 6px 15px;
    min-width: 165px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;
    margin-left: 12px;
    border: none;


    &:hover {
        background: rgb(0, 0, 48);
        color: #fff;
    }

    @media (max-width: 991px) {
        min-width: auto;
    }
}

.my-account-wrapper {
    padding: 100px 0 60px;
    background: url("assets/images/top-section-bg-shape.svg") no-repeat top -180px center;
    background-size:contain;
    @media(max-width:1600px){
        background-position: top -100px center;
    }
    @media(max-width:1400px){
        background-position: top -75px center;
    }
    @media(max-width:1280px){
        background-position: top center;
    }
    .section-title {
        font-family: "Overpass", sans-serif;
        font-size: 55px;
        font-weight: 700;
        line-height: 1.45;
        color: #fff;

        span {
            display: block;
            color: #00C8B1;
        }
    }

    .main-content {
        display: flex;
        flex-wrap: wrap;
        margin-top: 40px;

        .left-sidebar {
            width: 225px;

            .user-img {
                width: 190px;
                height: 190px;
                border-radius: 50%;
                object-fit: cover;
                margin-bottom: 40px;
            }

            .sidebar-menus {
                .admin-tag {
                    background-color: #32325D;
                    padding: 4px 10px 0px;
                    font-size: 15px;
                    font-family: "Overpass";
                    margin-bottom: 20px;
                    color: #fff;
                    border-radius: 4px;
                    display: inline-block;

                    @media (max-width: 767px) {
                        margin-top: 20px;
                    }
                }

                .username {
                    font: 700 24px "Overpass";
                    color: #00C8B1;
                    margin-bottom: 0;
                    line-height: 0.8;
                }

                .show-profile {
                    font: 400 14px "Overpass";
                    color: #00C8B1;
                }

                .menu-list {
                    li {
                        margin-top: 12px;

                        a {
                            &.active {
                                font-weight: 700;
                                color: #32325D !important;
                            }
                        }
                    }

                    &.admin-menus {
                        padding-top: 10px;
                        margin-top: 24px;
                        border-top: 2px solid #00C8B1;

                        @media (max-width: 767px) {
                            margin-bottom: 30px;
                        }
                    }
                }
            }
        }

        .content-block {
            width: 100%;
            margin-left: auto;
            box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.08);
            border-radius: 4px;
            height: 100%;
            background: #fff;
            padding: 25px 30px 30px 30px;

            .block-head {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .green-btn {
                    height: 55px;
                    padding: 5px 30px;
                    font-size: 16px;
                }
            }

            .concierge-block {
                padding: 50px 20px 40px;
                box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.06);
                border-radius: 10px;
                text-align: center;

                h2 {
                    color: #00C8B1;
                    font: 700 68px "Lato";

                    span {
                        display: block;
                        font-size: 18px;
                        font-weight: 500;
                        color: #B7B7B7;
                    }
                }
            }

            .subscription-note {
                font: 300 14px "Overpass";
                line-height: 1.7;
                margin-top: 8px;

                span {
                    font-weight: 600;
                }
            }
            .employees-header {
                display: flex;
                justify-content: space-between;
                align-items: center;

                .page-title{
                    margin-bottom: 0;
                }
                .submit-btn{
                    margin: 0 0;
                }
            }

                .page-title {
                    font: 700 24px "Overpass";
                    color: #00C8B1;
                    margin-bottom: 18px;
                }
                .left-head {
                    .page-title{
                        margin-bottom: 0;
                    }
                }

            label {
                font: 500 14px "Overpass";

                &.disappeared {
                    opacity: 0;
                }
            }

            .form-control {
                outline: none !important;
                border: 1px solid transparent;
                box-shadow: 0px 0px 24px rgba(0, 0, 0, 0.06);
                height: 62px;
                border-radius: 10px;
                padding: 5px 25px;
                appearance: none;
                &:focus {
                    border-color: #45e9d6;
                }

                &::placeholder {
                    color: #B7B7B7;
                }
            }

            textarea {
                min-height:100px;
                padding-top: 15px !important;
                padding-bottom: 15px !important;
            }

            .input-file-wrap {
                width: 125px;
                height: 125px;
                border-radius: 10px;
                background: #E8E8E8;
                position: relative;

                &:hover {
                    background: #dbdbdb;
                }

                &::after {
                    content: "+";
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    font-size: 35px;
                    font-weight: 700;
                    color: #00C8B1;
                    z-index: 1;
                }

                input[type="file"] {
                    position: absolute;
                    width: 100%;
                    height: 100%;
                    opacity: 0;
                    z-index: 9;
                }

                @media (max-width: 991px) {
                    width: 100px;
                    height: 100px;

                    &::after {
                        font-size: 30px;
                    }
                }

                @media (max-width: 767px) {
                    width: 75px;
                    height: 75px;

                    &::after {
                        font-size: 24px;
                    }
                }
            }

            .modify {
                padding-top: 3px;

                a {
                    color: #00C8B1;
                    font: 400 14px "Overpass";
                    font-style: italic;
                }

                text-align: right;
            }

            .submit-btn {
                background: #00C8B1;
                min-width: 153px;
                height: 53px;
                border-radius: 50px;
                border: 2px solid #00C8B1;
                color: #fff;
                display: flex;
                align-items: center;
                justify-content: center;
                margin-left: auto;
                margin-top: 10px;
                padding: 5px 25px;

                &:hover {
                    background: transparent;
                    color: #00C8B1;
                }
            }

            .save-card {
                height: 55px;
                min-width: auto;

                &:disabled {
                    background: #C8C8C8;
                    cursor: not-allowed;
                }
            }
        }
    }
}

@media (max-width: 1440px) {
    body {
        font-size: 16px;
    }

    .my-account-wrapper {
        .section-title {
            font-size: 45px;
        }

        .main-content {
            .left-sidebar {
                .user-img {
                    width: 170px;
                    height: 170px;
                }
            }
        }
    }
}

@media (max-width: 1280px) {
    .green-btn {
        min-width: auto;
    }

    .my-account-wrapper {
        .main-content {
            .content-block {
                width: 100%;

                .block-head {
                    .green-btn {
                        height: 48px;
                    }
                }

                .concierge-block {
                    h2 {
                        font-size: 45px;
                    }

                    padding: 30px 20px 24px;
                }
            }
        }
    }
}

@media (max-width: 991px) {
    body {
        font-size: 14px;
        padding-top: 68px;
    }

    .my-account-wrapper {
        .main-content {
            .content-block {
                label.disappeared {
                    display: none;
                }
            }
        }
    }

}

@media (max-width: 767px) {
    body {
        padding-top: 62px;
    }

    .my-account-wrapper {
        padding: 55px 0 20px;
        .main-content {
            .left-sidebar {
                width: 100%;

                .user-img {
                    width: 100px;
                    height: 100px;
                    margin-bottom: 10px;
                }

                .sidebar-menus {
                    .username {
                        font-size: 20px;
                        line-height: 1.2;
                    }

                    .menu-list {
                        display: flex;
                        flex-wrap: wrap;

                        li {
                            margin-top: 8px;
                            margin-right: 12px;
                            padding-right: 12px;
                            position: relative;
                            z-index: 9;

                            &::after {
                                content: '';
                                position: absolute;
                                right: -2px;
                                border-radius: 50%;
                                top: 50%;
                                transform: translateY(-50%);
                                width: 5px;
                                height: 5px;
                                background: #00C8B1;
                            }

                            &:last-child {
                                &::after {
                                    display: none;
                                }
                            }

                            a {
                                &.active {
                                    font-weight: 900;
                                }
                            }
                        }
                    }
                }
            }

            .content-block {
                width: 100%;
                padding: 18px 15px;

                .page-title {
                    font-size: 18px;
                }

                .form-control {
                    height: 50px;
                    padding: 5px 15px;
                }

                .save-card {
                    height: 50px;
                    padding: 5px 15px;
                }

                .submit-btn {
                    width: 120px;
                    height: 45px;
                    margin-top: 10px;
                }

                .concierge-block {
                    h2 {
                        font-size: 36px;
                    }
                }

                .block-head {
                    .green-btn {
                        height: auto;
                        padding: 0 !important;
                        background: transparent;
                        color: #00C8B1;
                        margin-top: -1px;
                        min-width: auto;
                        font-size: 14px;
                        text-decoration: underline;
                    }

                    align-items: flex-start;
                }
            }

            margin-top: 20px;
        }

       
        .section-title {
            font-size: 30px;
        }
    }

}
.carousel-inner .carousel-item .card{
    cursor: pointer;
}

.hero-banner {
    padding: 100px 0 150px;
    background: url("assets/images/offer-banner.png") no-repeat bottom center;
    background-size: cover;
    min-height: 580px;
    position: relative;

    .right-most-graphic {
        position: absolute;
        right: 0;
        bottom: 45px;
        width: 60%;

        @media (max-width: 1199px) {
            bottom: 60px;
        }

        @media (max-width: 991px) {
            bottom: 90px;
        }

        @media (max-width: 767px) {
            width: 100%;
            bottom: 40px;
        }
    }

    .hero-left {
        h2 {
            font: 700 55px "Overpass";
            color: #fff;
            margin-bottom: 25px;

            span {
                color: #00C8B1;
            }

            @media (max-width: 1199px) {
                font-size: 50px;
            }

            @media (max-width: 991px) {
                font-size: 36px;
            }

            @media (max-width: 767px) {
                font-size: 52px;
            }

            @media (max-width: 481px) {
                font-size: 32px;
            }
        }

        p {
            color: #fff;
            font-size: 22px;
            font-weight: 300;
            margin-bottom: 30px;

            @media (max-width: 1199px) {
                font-size: 20px;
            }

            @media (max-width: 991px) {
                font-size: 16px;
            }

            @media (max-width: 767px) {
                font-size: 20px;
            }

            @media (max-width: 481px) {
                font-size: 16px;
            }
        }

        .green-btn {
            height: 62px;
            width: auto;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            padding: 5px 30px 7px;
            font-size: 25px;
            font-weight: 600;
            text-transform: uppercase;

            @media (max-width: 1199px) {
                height: 55px;
            }

            @media (max-width: 991px) {
                height: 48px;
                font-size: 22px;
            }

            @media (max-width: 481px) {
                height: 40px;
                font-size: 18px;
            }
        }

        @media (max-width: 767px) {
            text-align: center;
            margin-bottom: 50px;
        }
    }

    .hero-right {
        position: relative;
        z-index: 9;
        &::after {
            content: "";
            position: absolute;
            left: -80px;
            top: 50%;
            width: 320px;
            height: 340px;
            background: url("assets/images/hero-graphic.png") no-repeat center;
            background-size: contain;

            @media (max-width: 1199px) {
                width: 275px;
                height: 240px;
            }

            @media (max-width: 991px) {
                width: 235px;
                height: 174px;
            }

            @media (max-width: 767px) {
                width: 255px;
                height: 230px;
            }

            @media (max-width: 660px) {
                left: 70px;
                top: 80%;
                width: 205px;
                height: 180px;
            }
        }

        iframe {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
        }
    }

    @media (max-width: 1199px) {
        min-height: 510px;
    }

    @media (max-width: 991px) {
        min-height: 440px;
    }
}

.more-services {
    padding: 0px 0 50px;

    .more-services_main {
        margin-top: -180px;

        @media (max-width: 991px) {
            margin-top: -120px;
        }

    }

    .more-serv-banner {
        background: url("assets/images/offer-banner.png") no-repeat bottom right;
        background-size: cover;
        padding: 110px 0 300px;
        color: #fff;

        @media (max-width: 991px) {
            padding: 60px 0 200px;
        }

        .banner-wrp {
            position: relative;

            .decor-img {
                position: absolute;
                left: 0;
                top: -30px;

                @media (max-width: 991px) {
                    display: none;
                }
            }
        }

        .ask-for {
            max-width: 650px;
            margin: auto;
            transform: translateX(50px);
            text-align: center;

            @media (max-width: 1440px) {
                max-width: 550px;
            }

            @media (max-width: 1199px) {
                margin-left: auto;
                margin-right: 60px;
            }

            @media (max-width: 991px) {
                margin: auto;
                transform: none;
                max-width: 450px;
            }

            @media (max-width: 500px) {
                div {
                    display: block !important;

                    button {
                        margin: 20px auto;
                    }
                }
            }

            h3 {
                font: 700 55px "Overpass";
                margin-bottom: 25px;

                @media (max-width: 1440px) {
                    font-size: 42px;
                }

                @media (max-width: 991px) {
                    font-size: 30px;
                }

                @media (max-width: 767px) {
                    font-size: 26px;
                }

                span {
                    color: #00C8B1;
                    font-size: 55px;

                    @media (max-width: 1440px) {
                        font-size: 42px;
                    }

                    @media (max-width: 991px) {
                        font-size: 30px;
                    }

                    @media (max-width: 767px) {
                        font-size: 26px;
                    }
                }
            }

            span,
            p {
                font-size: 22px;
                line-height: 1.4;
                margin-bottom: 0;

                @media (max-width: 1440px) {
                    font-size: 18px;
                }

                @media (max-width: 991px) {
                    font-size: 14px;
                    line-height: 1.6;
                }
            }

            button {
                height: 62px;
                max-width: 230px;
                width: 100%;
                font-size: 22px;

                @media (max-width: 1440px) {
                    max-width: 200px;
                    font-size: 18px;
                    height: 55px;
                }

                @media (max-width: 991px) {
                    max-width: 150px;
                    font-size: 14px;
                    height: 50px;
                }
            }
        }
    }

    .more-one {
        background: #fff;
        box-shadow: 0px 0px 50px -13px rgba(0, 0, 0, 0.15);
        border-radius: 10px;
        margin-bottom: 25px;
        text-align: center;
        padding: 10px 25px 40px;
        position: relative;
        min-height: 280px;
        transition: all 0.5s ease;
        overflow: hidden;

        @media (max-width: 1440px) {
            min-height: 260px;
        }

        @media (max-width: 1199px) {
            min-height: 220px;
        }

        @media (max-width: 767px) {
            padding: 20px 10px 35px;
        }
        .overlay-name{
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            top:70%;
            transition: all 0.5s ease;
            width: 90%;
            h4 {
                font: 700 34px "Overpass";
                margin-bottom: 0;
                color: #32325D !important;
                display: -webkit-box;
                -webkit-line-clamp: 1;
                overflow: hidden;
                -webkit-box-orient: vertical;
                @media (max-width: 1440px) {
                    font-size: 26px;
                }
                @media (max-width: 991px) {
                    font-size: 22px;
                }
                @media (max-width: 767px) {
                    margin: 10px 0;
                }
            }
            @media(max-width:767px){
                position: relative;
                transform: none;
                left:0;
                top:0;
                width: 100%;
            }
        }
        .img-icon{
            transition: all 0.5s ease;
            display: inline-block;
            max-width: 175px;
            height: auto;
            max-height: 175px;
            margin: auto;
        }

        @media (max-width: 1199px) {
            img:first-child {
                max-width: 120px;
            }
        }

        @media (max-width: 767px) {
            img:first-child {
                max-width: 100%;
                opacity: 1 !important;
                visibility: visible !important;
            }
        }

        img:last-child {
            position: absolute;
            bottom: 20px;
            left: 50%;
            transform: translateX(-50%);

            @media (max-width: 1199px) {
                bottom: 15px;
            }

            @media (max-width: 767px) {
                bottom: 20px;
            }
        }

        .cat-servs {
            display: none;
            transition: all 0.5s ease;
            text-align: center;
            position: relative;
            @media (max-width: 767px) {
                opacity: 1;
                visibility: visible;
                display: block;
            }
            li {
                a {
                    color: #32325D !important;
                    max-width: 120px;
                    font-size: 22px;

                    @media (max-width: 1440px) {
                        font-size: 18px;
                    }

                    &:hover {
                        color: #00C8B1 !important;
                    }
                }
            }

        }

        &:hover {
            box-shadow: 8px 8px 30px 0 rgba(0, 0, 0, 0.12);
            cursor: pointer;
            .overlay-name {
                top: 30px;
                @media (max-width: 1199px) {
                    top: 20px;
                }
                @media(max-width:767px){
                    top:0;
                }
            }
            img:first-child {
                opacity: 0;
                visibility: hidden;
            }
            .cat-servs {
                display: block;
            }
        }
    }
}


.offers-banner {
    background-image: url("assets/images/offer-banner.png");
    padding-top: 220px;
    padding-bottom: 200px;
    background-size: 100% 620px;
    background-position:top center;
    @media (max-width: 1440px) {
        padding-top: 150px;
        padding-bottom: 150px;
        background-size: 100% 475px;
    }

    @media (max-width: 1199px) {
        padding-top: 100px;
        padding-bottom: 120px;
        background-size: 100% 410px;
    }

    @media (max-width: 1199px) {
        padding-top: 100px;
        padding-bottom: 140px;
        background-size: 100% 385px;
    }

    @media (max-width: 767px) {
        padding-top: 60px;
        padding-bottom: 135px;
        background-size: 100% 300px;
    }

    .section-title {
        span {
            display: inline-block;
        }
    }

    .offer-insider {
        position: relative;

        .banner-right-img {
            position: absolute;
            right: 0;
            top: -20px;
            @media (max-width: 1440px) {
                max-width: 400px;
                right: 50px;
            }
            @media (max-width: 1366px) {
                right: 0;
                max-width:350px;
                top:0;
            }
            @media (max-width: 1199px) {
                right: 0;
                max-width: 350px;
                top: -25px;
            }
            @media (max-width: 991px) {
                display: none;
            }
        }
    }

    .popular-offers-wrap {
        .popular-tags {
            margin: 50px 0 15px;
            display: flex;
            align-items: center;
            color: #fff;
            flex-wrap: wrap;

            @media (max-width: 1199px) {
                margin: 35px 0 15px;
            }

            @media (max-width: 1199px) {
                margin: 20px 0 15px;
            }

            .pop-title {
                font-size: 18px;
                margin-right: 25px;

                @media (max-width: 767px) {
                    font-size: 14px;
                }
            }

            .tags {
                display: flex;
                justify-content: center;
                padding: 6px 10px;
                border-radius: 6px;
                line-height: 1;
                background: #00C8B1;
                text-transform: uppercase;
                color: #fff;
                font-weight:700;
                font-size: 12px;
                min-width: 75px;
                margin: 5px 10px 5px 0px;
                cursor: default;
                @media (max-width: 767px) {
                    font-size: 10px;
                }
            }
        }

        .pop-search {
            display: flex;
            align-items: center;

            .search-input,
            #search-category {
                height: 55px;
                padding: 5px 20px;
                color: #32325D;
                font-size: 18px;
                border-radius: 50px;
                border: none;
                background: #fff;
                outline: none;
                option[selected]{
                    color:#b7b7b7;
                }

                @media (max-width: 1366px) {
                    height: 48px;
                }

                @media (max-width: 767px) {
                    height: 40px;
                    font-size: 14px;
                    padding: 5px 14px;
                }

                &::placeholder,option:disabled,option::selection {
                    font-style: italic;
                    color:#b7b7b7;
                    opacity: 1;
                }
            }

            .search-input {
                width: 350px;

                @media (max-width: 1199px) {
                    width: 280px;
                }

                @media (max-width: 767px) {
                    width: 50%;
                }
            }

            #search-category {
                margin: 0 15px;
                -webkit-appearance: none;
                padding-right: 50px;
                min-width: 190px;

                @media (max-width: 1366px) {
                    min-width: 160px;
                }

                @media (max-width: 767px) {
                    width: calc(100% - 20px);
                    min-width: auto;
                    padding-right: 25px;
                    margin: 0 10px;
                }

                &:disabled {
                    color: #B7B7B7;
                }
            }

            .category-dropdown {
                position: relative;

                &::after {
                    content: '';
                    position: absolute;
                    width:12.5px;
                    height:12.5px;
                    border-right: 2px solid #00C8B1;
                    border-bottom: 2px solid #00C8B1;
                    transform: rotate(45deg) translateY(-50%);
                    right: 45px;
                    top: 44%;

                    @media (max-width: 1199px) {
                        right: 40px
                    }

                    @media (max-width: 767px) {
                        right: 24px;
                        width: 5px;
                        height: 5px;
                    }

                }

                @media (max-width: 767px) {
                    width: 35%;
                }
            }

            .search-button {
                border: none;
                height: 55px;
                width: 55px;
                border-radius: 50%;
                background: #00C8B1;

                @media (max-width: 1366px) {
                    height: 48px;
                    width: 48px;
                }

                @media (max-width: 767px) {
                    height: 40px;
                    width: 40px;

                    img {
                        max-width: 18px;
                    }
                }

                &:hover {
                    background: #009b89;
                }
            }

        }
    }
}


.corporate-life {
    background: #32325D;
    position: relative;
    padding: 50px 0 70px;

    .col-lg-3 {
        @media (min-width: 991px) and (max-width: 1199px) {
            width: 33.33%;
        }
    }

    .col-lg-9 {
        @media (min-width: 991px) and (max-width: 1199px) {
            width: 66.66%;
        }
    }

    .secondary-title {
        color: #ffffff;
    }

    .corporate-left {
        p {
            color: #ffffff;
            font-size: 22px;
        }
    }

    &::after {
        content: '';
        position: absolute;
        top: 100%;
        left: 0;
        height: 100px;
        width: 100%;
        background: url("assets/images/bottom-shape.png") no-repeat right top;
        background-size: 100% 80px;
        top: calc(100% - 2px);
    }

    &::before {
        content: '';
        position: absolute;
        bottom: 100%;
        left: 0;
        height: 100px;
        width: 100%;
        background: url("assets/images/top-shape.png") no-repeat left bottom;
        background-size: 100% 80px;
        bottom: calc(100% - 2px);
    }

    .corporate-right {
        display: flex;
        align-items: center;
        flex-wrap: wrap;

        button {
            padding: 1px;
            display: flex;
            align-items: center;
            justify-content: flex-start;
            font-size: 25px;
            font-weight: 300;
            padding-right: 30px;
            margin: 15px;
            outline: none;

            span {
                margin-top: -5px;
            }

            strong {
                margin: 0 5px;
            }

            &.fifty {
                min-width: 372px;
                
                @media (max-width: 767px) {
                    min-width: 100%;
                }

            }

            &.twofive {
                min-width: 282px;

                @media (max-width: 767px) {
                    min-width: 100%;
                }

            }

            &.sevenfive {
                min-width: 428px;
                @media (max-width: 767px) {
                    min-width: 100%;
                }

            }

            &.thfive {
                min-width: 330px;
                @media (max-width: 767px) {
                    min-width: 100%;
                }

            }

            div {
                margin-right: 20px;
                width: 83px;
                height: 79px;
                display: flex;
                align-items: center;
                justify-content: center;
                background: #fff;
                border-radius: 50%;

                @media (max-width: 481px) {
                    width: 63px;
                    height: 59px;
                }
            }

            @media (max-width: 990px) {
                margin-right: 0;
                margin-left: 0;
            }

            @media (max-width: 481px) {
                min-width: 100% !important;
                padding-right: 0;
                font-size: 20px;
            }
        }

        .button-one {
            @media (max-width: 990px) {
                min-width: 380px;
            }

            @media (max-width: 767px) {
                min-width: 100%;
            }
        }
    }

    @media (max-width: 575px) {
        padding-left: 25px;
        padding-right: 25px;
    }
}

.clac-babysitter {
    position: relative;
    padding: 30px 0 150px;

    .bg-img-shape {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 0;
        width: 100%;

        img {
            width: 100%;
        }

        @media (max-width: 991px) {
            display: none;
        }
    }

    .babysitter-wrap {
        text-align: center;
        max-width: 900px;
        width: 100%;
        margin: auto;
        position: relative;
        height: 400px;
        z-index: 9;
        background: url("assets/images/babysitter-shaper.png") no-repeat center;
        display: flex;
        align-items: center;
        justify-content: center;

        .baby-graphics {
            bottom: calc(100% - 91px);
            left: calc(100% - 99px);
            width: 16%;

            @media (max-width: 767px) {
                bottom: calc(100% - 33px);
                left: calc(100% - 51px);
                width: 12%;
            }
        }

        .inside-bbsit {
            max-width: 710px;
            margin: 0 auto;
        }

        .secondary-title {
            color: #fff;
            margin-bottom: 10px;
        }

        .testSwiper {
            padding: 0 30px;
            max-width: 800px;
            margin: auto;

            .swiper-button-next,
            .swiper-button-prev {
                color: #fff;

                &:after {
                    font-size: 20px;
                }
            }

            .swiper-pagination {
                .swiper-pagination-bullet {
                    background-color: rgba(#fff, 0.5);
                }

                .swiper-pagination-bullet-active {
                    background-color: #fff;
                }
            }
        }
        .babysitter-out-img{
            position: absolute;
            top:-150px;
            right:-60px;
            content: "";
            width:100%;
            max-width: 214px;
            height: auto;
            z-index: 1;
            @media(max-width:1024px){
                top:-20%;
                max-width: 150px;
                height: auto;
                right: 0;
            }
            @media(max-width:480px){
                top:-10%;
                max-width: 150px;
                height: auto;
                right: 0;
                left:0;
                margin: auto;
            }
        }

        h3 {
            @media (max-width: 481px) {
                font-size: 24px;
            }
        }

        p {
            color: #fff;
            font-size: 15px;
            font-weight: 300;
            font-family: 'Overpass';
        }

        @media (max-width: 767px) {
            background-size: cover;
        }

        @media (max-width: 481px) {
            height: 480px;
        }

        @media (max-width: 400px) {
            height: 570px;
        }
    }

    @media (max-width: 991px) {
        padding-bottom: 30px;
    }
}

.swiper-button-next,
.swiper-button-prev {
    &:after {
        font-size: 20px;
        color: #fff;
    }
}

.thumbnail-container {
    position: relative;
    padding-bottom: 66.66%;
    width: 100%;
    border-radius: 0;
    overflow: hidden;
    text-align: center;

    .thumbnail {
        margin: 0;
        padding: 0;
        border-width: 0;
        border-style: solid;
        border-color: transparent transparent transparent transparent;
        height: 100%;
        width: 100%;
        position: absolute;
        background: 0 0;
        display: block;

        img,
        svg {
            display: block;
            height: auto;
            max-height: 100%;
            max-width: 100%;
            width: auto !important;
            top: 0;
            left: 0;
            bottom: 0;
            right: 0;
            margin: auto;
            position: absolute;
        }
    }

    &.object-fit {
        .thumbnail {
            img {
                width: 100% !important;
                height: 100%;
                object-fit: cover;
            }
        }
    }
}

.modal-dialog-centered {
    @media(max-width:991px) {
        display: block;
    }
}

.order-image-gallery {
    .thumbnail-container {
        padding-bottom: 56%;
    }

    .thumbslider {
        margin: 10px 0;

        .swiper-slide {
            opacity: 0.4;
            cursor: pointer;

            &.swiper-slide-thumb-active {
                opacity: 1;
            }
        }
    }
}

.multiselect-dropdown .dropdown-btn {
    background-color: #fff;
    box-shadow: 0px 0px 24px rgb(0 0 0 / 6%);
    border: none !important;
    font-size: 18px;
    padding: 15px 40px 15px 20px !important;
}

.multiselect-dropdown .dropdown-btn .dropdown-multiselect__caret:before {
    content: "";
    position: absolute !important;
    right: 20px !important;
    top: 50% !important;
    transform: translateY(-50%) rotate(45deg) !important;
    width: 10px;
    height: 10px;
    border:none !important;
    border-right: 2px solid #00C8B1 !important;
    border-bottom: 2px solid #00C8B1 !important;
    margin: 0 !important;
}
.multiselect-dropdown .dropdown-btn .selected-item-container .selected-item{
    border-color: #00C8B1 !important;
    background-color: #00C8B1 !important;
    max-width: inherit !important;
    margin-bottom: 4px;
}
.multiselect-dropdown .dropdown-btn .dropdown-multiselect__caret{
    width: 50px !important;
    height: 58px !important;
}
.multiselect-item-checkbox input[type=checkbox]+div:before {
    color: #00C8B1 !important;
    border-color: #00C8B1 !important;
}

.multiselect-item-checkbox input[type=checkbox]:checked+div:before {
    background-color: #00C8B1 !important;
}
input[type="date"]{
    &.form-control{
        &.is-invalid,&.is-valid{
            padding-right: 30px !important;
        }
    }
}
.modal-dialog{
      .modal-content{
          .modal-body{
              input,select,textarea,.form-control{
                @include placeholder {
                    color:#b7b7b7;
                 }
              }
          }
      }
  }
  input,select,textarea,.form-control{
    @include placeholder {
        color:#b7b7b7;
     }
  }
.p-paginator .p-paginator-first, .p-paginator .p-paginator-prev, .p-paginator .p-paginator-next, .p-paginator .p-paginator-last{
    @media(max-width:767px){
        min-width:1.5rem !important;
    }
}
.p-paginator{
    @media(max-width:767px){
        padding: 0.5rem 0 !important;
        border:none !important;
        margin: 0 0 20px;
    }
}
input::-ms-reveal,
      input::-ms-clear {
        display: none;
      }
    select.cus-drop{
        border:1px solid #ced4da;
        padding: 9px 2px;
        color:#495057;
        font-weight: 400;
        font-size: 16px;
        outline: none;
        &:focus,&:focus-visible{
            border-color:#2196F3;
            outline: none;
        }
        @media(max-width:767px){
            padding: 6.5px 2px;
            font-size: 14px;
        }
    }
    .modal-dialog>.ng-star-inserted{
        width: 100%;
    }
    .cus-registration-form{
        #card-errors{
            color:#f00;
            font-size: 80%;
        }
    }
    