<div class="service-detail pt-5">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div id="serviceCarousel" class="carousel slide" data-bs-ride="carousel" data-bs-interval="5000">
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img src="assets/images/latest-offer-img.png">
                        </div>
                        <div class="carousel-item">
                            <img src="assets/images/latest-offer-img-2.png">
                        </div>
                    </div>
                    <div class="carousel-indicators">
                        <a data-bs-target="#serviceCarousel" class="active"
                            aria-current="true" aria-label="Slide 1" data-bs-slide-to="0">
                            <img src="assets/images/latest-offer-img.png">
                        </a>
                        <a data-bs-target="#serviceCarousel"
                            aria-current="true" aria-label="Slide 2" data-bs-slide-to="1">
                            <img src="assets/images/latest-offer-img-2.png">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="order-details">
                    <h2>Lorem ipsum dolor sit amet</h2>
                    <div class="category">
                        <label for="">Category:</label>
                        <p>Test service category</p>
                    </div>
                    <div class="discount">
                        <label for="">Discount:</label>
                        <p>Flat 15% off</p>
                    </div>
                    <div class="category">
                        <label for="">Description:</label>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-4">
            <a href="" class="green-btn">ORDER</a>
        </div>
    </div>
</div>