<div class="employee-subscription-wrapper">
    <div class="side-wrapper">
        <div class="side-graphics d-flex justify-content-center">
            <div class="d-flex flex-column justify-content-center side-content">
                <h2 class="mb-4">You are one step away from <span>joining the Clac community!</span></h2>
            </div>
            <div class="side-human-graphics"></div>
        </div>
    </div>
    <div class="mobile-content">
        <div class="container">
            <h2 class="my-4">You are one step away from <span>joining the Clac community!</span></h2>
        </div>
    </div>
    <div class="subscription-stepper">
        <div class="container">
            <div class="stepper-main">
                <div id="stepper1" class="bs-stepper">
                    <div class="employee-logo" [ngStyle]="{'background-color': FecturesDetails?.back_colour}">
                        <img src="{{FecturesDetails?.logo}}" alt="">
                    </div>
                    <div class="bs-stepper-header">
                        <div class="step" data-target="#step-1">
                            <button class="step-trigger">
                                <span class="bs-stepper-label">1. Your subscription</span>
                            </button>
                        </div>
                        <div class="step" data-target="#step-2">
                            <button class="step-trigger">
                                <span class="bs-stepper-label">2. Personal Info</span>
                            </button>
                        </div>
                        <div class="step" data-target="#step-3">
                            <button class="step-trigger">
                                <span class="bs-stepper-label">3. Confirmation</span>
                            </button>
                        </div>
                    </div>
                    <div class="bs-stepper-content">
                        <form #empFrom="ngForm" (ngSubmit)="empFrom.form.valid">
                            <div id="step-1" class="content">
                                <div class="row mb-4">
                                    <div class="col-12 text-center">
                                        <div class="form-group">
                                            <input type="radio" class="select-plan" ngModel name="plan"
                                                id="selectPlan1{{1}}">
                                            <label for="selectPlan1{{1}}" class="plan">
                                                <div class="plan-detail-wrapper"
                                                    [innerHTML]="FecturesDetails?.employee_feacture">

                                                </div>
                                            </label>
                                        </div>
                                    </div>
                                </div>
                                <div class="line"></div>
                                <div class="d-flex justify-content-between mt-4">
                                    <button class="btn btn-primary" (click)="previous()">Previous</button>
                                    <button class="btn btn-primary" (click)="next()">Following</button>
                                </div>
                            </div>
                            <div id="step-2" class="content">
                                <div class="row mb-4">
                                    <div class="col-6">
                                        <div class="form-group mb-1">
                                            <label for="first_name" class="form-label">First name<span
                                                    class="text-danger">*</span></label>
                                            <input class="form-control" type="text" id="first_name" ngModel
                                                name="first_name" #first_name="ngModel" pattern="^[a-zA-Z ]+$" required
                                                autocomplete="off" [ngClass]="{'is-invalid':(first_name.invalid && first_name.touched),
                                                'is-valid':(first_name.valid && first_name.touched)}">
                                            <div class="invalid-feedback"
                                                *ngIf="(first_name.invalid && (first_name.dirty || first_name.touched ))">
                                                <div *ngIf="first_name.errors?.['required']" class="red-color">
                                                    First Name is required.
                                                </div>
                                            </div>

                                        </div>

                                        <div class="form-group mb-1">
                                            <label for="name" class="form-label">Last Name<span
                                                    class="text-danger">*</span></label>
                                            <input class="form-control" type="text" id="last_name" name="last_name"
                                                ngModel #last_name="ngModel" pattern="^[a-zA-Z ]+$" required
                                                autocomplete="off" [ngClass]="{'is-invalid':(last_name.invalid && last_name.touched),
                                            'is-valid':(last_name.valid && last_name.touched)}">
                                            <div class="invalid-feedback"
                                                *ngIf="(last_name.invalid && (last_name.dirty || last_name.touched ))">
                                                <div *ngIf="last_name.errors?.['required']" class="red-color">
                                                    Last Name is required.
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group mb-1">
                                            <label for="user_name" class="form-label">My username <span
                                                    class="text-danger">*</span><span class="d-inline-block ml-2"
                                                    data-toggle="tooltip" data-placement="right"
                                                    title="If you want to be called by nickname, let us know!"><i
                                                        class="fa fa-question-circle help-tip"></i></span></label>
                                            <input type="text" id="user_name" name="user_name" class="form-control"
                                                #user_name="ngModel" ngModel
                                                (keydown)="$event.keyCode != 32 ? $event:$event.preventDefault()"
                                                pattern="^[a-zA-Z]([._-](?![._-])|[a-zA-Z0-9]){1,18}[a-zA-Z0-9]$"
                                                required autocomplete="off" [ngClass]="{'is-invalid':(user_name.invalid && user_name.touched),
                                                        'is-valid':(user_name.valid && user_name.touched)}">
                                            <div *ngIf="(user_name.invalid && (user_name.dirty || user_name.touched ))"
                                                class="invalid-feedback">
                                                <div *ngIf="user_name.errors?.['required']" class="red-color">
                                                    User Name is required.
                                                </div>
                                                <div *ngIf="user_name.errors?.['pattern']" class="red-color">
                                                    User Name is invalid.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group mb-1">
                                            <label for="birthdate" class="form-label">Date of Birth <span
                                                    class="text-danger">*</span></label>
                                            <input type="date" id="birthdate" name="birthdate" class="form-control"
                                                [ngClass]="{'is-invalid':(birthdate.invalid && birthdate.touched),
                                                'is-valid':(birthdate.valid && birthdate.touched)}"
                                                max="{{bodMinDate}}" #birthdate="ngModel" ngModel required
                                                autocomplete="off">
                                            <div class="invalid-feedback"
                                                *ngIf="(birthdate.invalid && (birthdate.dirty || birthdate.touched))">
                                                <div *ngIf="birthdate.errors?.['required']" class="fv-help-block">
                                                    Birthdate is required
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-group mb-1">
                                            <label for="country_code" class="form-label"> Country Code <span
                                                    class="text-danger">*</span></label>
                                            <input type="text" id="country_code" name="country_code"
                                                class="form-control" #country_code="ngModel" ngModel
                                                pattern="^\+?\d{1,4}$" required autocomplete="off" [ngClass]="{'is-invalid':(country_code.invalid && country_code.touched),
                                                'is-valid':(country_code.valid && country_code.touched)}">

                                            <div *ngIf="(country_code.invalid && (country_code.dirty || country_code.touched ))"
                                                class="invalid-feedback">
                                                <div *ngIf="country_code.errors?.['required']" class="red-color">
                                                    Country Code is required.
                                                </div>
                                                <div *ngIf="country_code.errors?.['pattern']" class="red-color">
                                                    Country Code is invalid.
                                                </div>
                                            </div>
                                        </div>

                                        <div class="form-group mb-1">
                                            <label for="mobile_no" class="form-label">Phone number <span
                                                    class="text-danger">*</span></label>
                                            <div class="input-group ph-group">
                                                <input type="text" id="mobile_no" name="mobile_no" class="form-control"
                                                    #mobile_no="ngModel" ngModel pattern="^\+?\d{8,14}$" required
                                                    autocomplete="off" [ngClass]="{'is-invalid':(mobile_no.invalid && mobile_no.touched),
                                                'is-valid':(mobile_no.valid && mobile_no.touched)}">
                                                <div *ngIf="(mobile_no.invalid && (mobile_no.dirty || mobile_no.touched ))"
                                                    class="invalid-feedback">
                                                    <div *ngIf="mobile_no.errors?.['required']" class="red-color">
                                                        Mobile Number is required.
                                                    </div>
                                                    <div *ngIf="mobile_no.errors?.['pattern']" class="red-color">
                                                        Mobile Number is invalid.
                                                    </div>
                                                </div>
                                            </div>

                                        </div>

                                        <div class="form-group mb-1">
                                            <label for="email" class="form-label"> E-mail address<span
                                                    class="text-danger">*</span></label>
                                            <input type="email" id="email" name="email" class="form-control"
                                                #email="ngModel" ngModel required autocomplete="off"
                                                pattern="[a-zA-Z0-9.-_+]{1,}@[a-zA-Z.-]{2,}[.]{1}[a-zA-Z]{2,}"
                                                [ngClass]="{'is-invalid':(email.invalid && email.touched),
                                                    'is-valid':(email.valid && email.touched)}">
                                            <div *ngIf="(email.invalid && (email.dirty || email.touched ))"
                                                class="invalid-feedback">
                                                <div *ngIf="email.errors?.['required']" class="red-color">
                                                    Email is required.
                                                </div>
                                                <div *ngIf="email.errors?.['pattern']" class="red-color">
                                                    Please enter valid email address.
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group mb-1">
                                            <label for="password" class="form-label"> Password <span
                                                    class="text-danger">*</span></label>
                                            <input type="password" id="password" name="password" class="form-control"
                                                [ngClass]="{'is-invalid':(password.invalid && password.touched),
                                                'is-valid':(password.valid && password.touched)}" #password="ngModel"
                                                ngModel required autocomplete="off">
                                            <div *ngIf="(password.invalid && (password.dirty || password.touched ))"
                                                class="invalid-feedback">
                                                <div *ngIf="password.errors?.['required']" class="red-color">
                                                    Password is required.
                                                </div>

                                            </div>
                                        </div>
                                        <div class="form-group mb-1">
                                            <label for="conform_password" class="form-label">Confirm Password <span
                                                    class="text-danger">*</span></label>
                                            <input type="password" id="conform_password" name="conform_password"
                                                class="form-control" #conform_password="ngModel" ngModel required
                                                autocomplete="off" [ngClass]="{'is-invalid':(conform_password.invalid && conform_password.touched),
                                                'is-valid':(conform_password.valid && conform_password.touched)}">
                                            <div *ngIf="(conform_password.invalid && (conform_password.dirty || conform_password.touched ))"
                                                class="invalid-feedback">
                                                <div *ngIf="conform_password.errors?.['required']" class="red-color">
                                                    Confirm Password is required.
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="line"></div>
                                <div class="d-flex justify-content-between mt-4">
                                    <button class="btn btn-primary" (click)="previous()">Previous</button>
                                    <button class="btn btn-primary" (click)="next()"
                                        [disabled]="first_name.invalid || last_name.invalid || conform_password.invalid || password.invalid ||
                                    user_name.invalid || birthdate.invalid || country_code.invalid || country_code.invalid || mobile_no.invalid || email.invalid">Following</button>
                                </div>
                            </div>
                            <div id="step-3" class="content">
                                <div class="my-3">
                                    <p class="m-0">You are almost there!</p>
                                    <p class="m-0">To finalize your registration, accept the T&Cs and click on the "I'm
                                        registering" button</p>
                                </div>
                                <div class="payment-confirmation mb-4">
                                    <p class="m-0"></p>
                                    <p class="m-0">Ossia Consulting offer for employees
                                        The subscription is offered to you by your company.
                                        € 0.00 / month</p>
                                </div>
                                <div class="mb-4 form-check position-relative">
                                    <input type="checkbox" class="form-check-input" id="userPolicy" name="userPolicy"
                                        #userPolicy="ngModel" ngModel required>
                                    <label class="form-check-label" for="userPolicy">I have read and accept the general
                                        conditions of use and sale available <a href="javascript:;" class="ml-1"
                                            data-bs-toggle="modal" data-bs-target="#userPolicyModal">here.</a></label>
                                </div>
                                <div class="line"></div>
                                <div class="d-flex justify-content-between mt-4">
                                    <button class="btn btn-primary" (click)="previous()">Previous</button>
                                    <button class="btn btn-primary" name="save" (click)='submit(empFrom.value)'
                                        [disabled]="userPolicy.invalid">I'm
                                        registering</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--User policy Modal -->
    <div class="modal fade" id="userPolicyModal" tabindex="-1" aria-labelledby="userPolicyModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h2>User Policies</h2>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>User policies are as following:</p>
                    <ol>
                        <li>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book.</li>
                        <li>It has survived not only five centuries, but also the leap into electronic typesetting,
                            remaining essentially unchanged.</li>
                        <li>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                            passages, and more recently with desktop publishing software like Aldus PageMaker including
                            versions of Lorem Ipsum.</li>
                        <li>It is a long established fact that a reader will be distracted by the readable content of a
                            page when looking at its layout.</li>
                        <li>Contrary to popular belief, Lorem Ipsum is not simply random text.</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>