.individual-subscription-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .side-wrapper {
        position: fixed;
        top: 0;
        right: 0;
        width: 30vw;
        height: 100vh;
    
        .side-graphics {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background-image: url('../../../../assets/images/login-graphic.svg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position-y: bottom;
            height: 100vh;
            width: 100%;

            .side-content {
                max-width: 75%;
                margin-bottom: 56px;
                z-index: 9;

                h2 {
                    color: #fff;
                    font-size: 28px;
                    line-height: 35px;
                    font-family: interstate;
                    font-weight: 300;

                    span {
                        font-weight: bold;
                    }
                }
            }
        }
        .side-human-graphics {
            position: absolute;
            right: 0;
            bottom: -45px;
            background-image: url('../../../../assets/images/individual-subscription-graphic.svg');
            background-size: cover;
            background-repeat: no-repeat;
            background-position: bottom;
            width: 194px;
            height: 325px;
        }
        
        
        @media (max-width: 768px) {
            display: none;
        }
    }

    .mobile-content {
        display: none;

        h2 {
            color: #00C8B1;
            font-size: 28px;
            line-height: 35px;
            font-family: interstate;
            font-weight: 300;
            text-align: center;

            span {
                font-weight: bold;
            }
        }

        @media (max-width: 768px) {
            display: block;
        }
    }

    .subscription-stepper {
        width: 100%;

        .stepper-main {
            width: 70%;

            .bs-stepper {
                max-width: 600px;
                margin: auto;

                .bs-stepper-header {
                    border-bottom: 1px solid #00C8B1;
                    padding: 0 15px;

                    .step {
                        .step-trigger {
                            padding: 0;

                            .bs-stepper-label {
                                color: #000;
                                padding: 2px 18px;
                                font-size: 13px;
                                border-top-left-radius: 10px;
                                border-top-right-radius: 10px;
                                margin: 0px;
                                font-weight: 400;

                                @media (max-width: 992px) {
                                    padding: 2px 10.5px;
                                }
                                @media (max-width: 768px) {
                                    width: 100%;
                                    border-radius: 0;
                                    border-bottom: 1px solid #00C8B1;
                                }
                            }

                            &:hover {
                                background-color: #fff;
                            }

                            @media (max-width: 768px) {
                                width: 100%;
                                text-align: left;
                            }
                        }

                        &.active {
                            .bs-stepper-label {
                                background-color: #00C8B1;
                                color: #fff !important;
                            }
                        }

                        @media (max-width: 768px) {
                            width: 100%;
                        }
                    }

                    @media (max-width: 768px) {
                        flex-direction: column;
                        border-bottom: 0;
                    }
                }
                .bs-stepper-content {
                    padding: 20px;
                    #step-1 {
                        .form-group {
                            height: 100%;
                        }
                    }
                    .content {
                        .col-6 {
                            padding: 0 5px;
                            margin: 0 0 10px;
                            @media (max-width: 768px) {
                                width: 100%;
                                padding: 5px 0;
                            }
                        }
                        button {
                            padding: 0 30px;
                            background-color: #00C8B1;
                            border: 2px solid #00C8B1;
                            border-radius: 20px;
                            box-shadow: none;

                            &:hover {
                                background-color: transparent;
                                color: #00C8B1;
                            }
                        }
                        .select-plan {
                            display: none;

                            &:checked + .plan {
                                border-style: solid;
                                background: #B1EFE2;
                                border-color: #56C5AE;
                                color: #777;
                                cursor: default;

                                .selected-offer {
                                    display: block;
                                }
                            }
                        }
                        .plan {
                            position: relative;
                            color: #777;
                            border: 4px solid #EFEFEF;
                            border-radius: 15px;
                            background: #EFEFEF;
                            padding: 5px 22px;
                            transition: none !important;
                            height: 100%;
                            overflow: hidden;
                            cursor: pointer;

                            .plan-detail-wrapper {
                                h5 {
                                    padding: 10px 7px 0;
                                    margin: 0;
                                    font-size: 18px;
                                    text-align: center;
                                    transition: none !important;
                                }
                                h2 {
                                    font-size: 48px;
                                    text-align: center;
                                    display: flex;
                                    flex-direction: column;
                                    span {
                                        font-size: 16px;
                                        transition: none !important;
                                    }
                                }
                                .plan-detail {
                                    font-size: 14px;
                                    font-weight: bold;
                                    text-align: center;
                                    transition: none !important;
                                }
                                .plan-detail-one {
                                    font-size: 14px;
                                    transition: none !important;
                                }
                                .plan-detail-two {
                                    font-size: 14px;
                                    color: #00C8B1;
                                    transition: none !important;
                                    font-weight: bold;
                                    margin-bottom: 0;
                                }

                                .selected-offer {
                                    display: none;
                                    position: absolute;
                                    bottom: 15px;
                                    right: -100px;
                                    transform: rotate(315deg);
                                    -moz-transform: rotate(315deg);
                                    -webkit-transform: rotate(315deg);
                                    -o-transform: rotate(315deg);
                                    -ms-transform: rotate(315deg);
                                    background-color: white;
                                    color: black;
                                    border-top: 1px #dee0e0 solid;
                                    border-bottom: 1px black solid;
                                    font-weight: bold;
                                    font-size: 11px;
                                    padding: 5px;
                                    text-align: center;
                                    width: 250px;
                                }

                                @media (max-width: 768px) {
                                    
                                }
                            }

                            &:hover {
                                border-style: dotted;
                                background: #B1EFE2;
                                border-color: #56C5AE;
                                color: #333 !important;
                            }
                            
                            @media (max-width: 768px) {
                                width: 100%;
                                display: flex;
                                justify-content: center;
                            }
                        }
                        .form-control {
                            padding: 15px;
                            box-shadow: none;
                            appearance: none;
                        }
                        .form-label {
                            font-weight: bold;
                            font-size: 15px;
                        }
                        select {
                            // border: 2px solid #ddd !important;
                            // padding: 0 8px !important;
                            width: 100%;
                            display: block !important;
                            -moz-border-radius: 2px;
                            -webkit-border-radius: 2px;
                            border-radius: 2px;
                            outline: none !important;
                            cursor: text !important;
                            font-size: 15px !important;
                            // height: 33px !important;
                            box-sizing: border-box !important;
                            // box-shadow: none !important;
                            margin: 0 !important;
                            position: static;
                            outline: none !important;
                        }
                        .payment-options {
                            label {
                                opacity: 0.5;

                                &:hover {
                                    opacity: 1;
                                }
                            }
                            [type="radio"]:checked,
                            [type="radio"]:not(:checked) {
                                position: absolute;
                                left: -9999px;
                            }
                            [type="radio"]:checked + label,
                            [type="radio"]:not(:checked) + label
                            {
                                position: relative;
                                padding-left: 28px;
                                cursor: pointer;
                                line-height: 20px;
                                display: inline-block;
                                color: #666;
                            }
                            [type="radio"]:checked + label:before,
                            [type="radio"]:not(:checked) + label:before {
                                content: "";
                                position: absolute;
                                left: 0;
                                top: 0;
                                width: 19px;
                                height: 19px;
                                border: 2px solid #666;
                                border-radius: 100%;
                                background: #fff;
                            }
                            [type="radio"]:checked + label:after,
                            [type="radio"]:not(:checked) + label:after {
                                content: "";
                                width: 11px;
                                height: 11px;
                                background: #666;
                                position: absolute;
                                top: 4px;
                                left: 4px;
                                border-radius: 100%;
                                transition: all 0.2s ease;
                            }
                            [type="radio"]:not(:checked) + label:after {
                                opacity: 0;
                                -webkit-transform: scale(0);
                                transform: scale(0);
                            }
                            [type="radio"]:checked + label:after {
                                opacity: 1;
                                -webkit-transform: scale(1);
                                transform: scale(1);
                            }
                        }

                        .payment-confirmation {
                            padding: 15px;
                            display: flex;
                            flex-direction: column;
                            justify-content: center;
                            align-items: center;
                            background: #FFD;
                            border: 1px solid #EEE;
                            color: #666;
                            border-radius: 15px;
                            font-size: 16px;
                            text-align: center;
                        }

                        .form-check {
                            display: flex;
                            align-items: center;
            
                            input[type=checkbox] {
                                box-shadow: none;
                                width: 22px;
                                height: 22px;
                                margin:0 5px 3px 0;
                                border: 2px solid #ebebeb;
            
                                &:hover {
                                    border: 2px solid #bbb
                                }
                            }
                            .form-check-input {
                                &:checked {
                                    background-color: #30c8b1;
                                    border-color: #30c8b1;
            
                                    &:hover {
                                        border-color: #30c8b1; 
                                    }
                                }
                            }

                            a {
                                color: #00C8B1;
                                margin-left: 3px;
                            }
                        }

                        .error-msg {
                            color: #ff0000;
                            font-size: 15px;
                        }
                        .help-tip {
                            color: #cccccc;
                            font-size: 18px;
                            &:hover {
                                color: #56C5AE;
                                cursor: pointer;
                            }
                        }
                    }
                }

                @media (max-width: 768px) {
                    max-width: 100%;
                }
            }

            @media (max-width: 992px) {
                width: 73%;
            }
            @media (max-width: 768px) {
                width: 100%;
            }
        }
    }

    .modal-dialog{
        max-width: 750px;
        .modal-content{
            .modal-header{
                border: 0;
                padding-top: 30px;
                padding-left: 28px;
                padding-right: 28px;
    
                h2 {
                    font-size: 40px;
                    font-weight: 300;
                }
                .btn-close{
                    box-shadow: none !important;
                    border-radius: 50%;
                    border: 2px solid #a3a3a3;
                    font-size: 10px;
                    opacity: 0.3;
                    position: absolute;
                    top: 25px;
                    right: 30px;
            
                    &:hover{
                        opacity: 0.7;
                    }
                }
            }
        }
    }
}


.cus-registration-form .um-field.um-field-text.um-field-type_text.um-field-type_source {
    background: #EEE;
    padding: 5px 10px 10px 10px;
}
.cus-registration-form .um-field-area {
    position: relative;
    word-wrap: break-word;
}
.cus-registration-form .StripeElement {
    background-color: white;
    height: 60px;
    padding: 10px 12px;
    border-radius: 4px;
    border: 1px solid transparent;
    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
    margin-top: 15px;
}
.cus-registration-form .um-field {
    position: relative;
    padding: 20px 0 0 0;
}



.cus-main-registration  .um-field-area input {
	border: 1px solid #ebebeb !important;
    border-radius: 5px !important;
    padding-top: 15px !important;
    padding-right: 15px !important;
    padding-bottom: 15px !important;
    height: auto !important;
    font-family: "Lato", sans-serif;
    outline: 0;
    font-size: 15px;
    z-index: 1;
    color: #666666;
    width: 250px;
    padding-left: 15px !important;
	margin-bottom: 20px;
}